<div id="banner-homepage" class="clipped_bovenzijdee">

    <div class="banner-homepage-slide active">
        <img

                src="https://ucarecdn.com/f425865e-de85-49d6-afdc-ed798d78457d/VRA_banner_wijnemenjemee_21.png?w=1200"

                srcset="
                    https://ucarecdn.com/f425865e-de85-49d6-afdc-ed798d78457d/VRA_banner_wijnemenjemee_21.png?w=760 760w,
                    https://ucarecdn.com/f425865e-de85-49d6-afdc-ed798d78457d/VRA_banner_wijnemenjemee_21.png?w=900 900w,
                    https://ucarecdn.com/f425865e-de85-49d6-afdc-ed798d78457d/VRA_banner_wijnemenjemee_21.png?w=1200 1200w,
                    https://ucarecdn.com/f425865e-de85-49d6-afdc-ed798d78457d/VRA_banner_wijnemenjemee_21.png?w=1700 1700w,
                    https://ucarecdn.com/f425865e-de85-49d6-afdc-ed798d78457d/VRA_banner_wijnemenjemee_21.png?w=2500 2500w
                    "

                alt="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" title="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" width="100%"
        />
    </div>
    <div class="banner-homepage-slide">
        <img
                src="https://ucarecdn.com/099cf156-e08a-49bd-940a-1a39e3cc315e/VRA_banner_wijnemenjemee_22.png?w=1200"

                srcset="
                    https://ucarecdn.com/099cf156-e08a-49bd-940a-1a39e3cc315e/VRA_banner_wijnemenjemee_22.png?w=760 760w,
                    https://ucarecdn.com/099cf156-e08a-49bd-940a-1a39e3cc315e/VRA_banner_wijnemenjemee_22.png?w=900 900w,
                    https://ucarecdn.com/099cf156-e08a-49bd-940a-1a39e3cc315e/VRA_banner_wijnemenjemee_22.png?w=1200 1200w,
                    https://ucarecdn.com/099cf156-e08a-49bd-940a-1a39e3cc315e/VRA_banner_wijnemenjemee_22.png?w=1700 1700w,
                    https://ucarecdn.com/099cf156-e08a-49bd-940a-1a39e3cc315e/VRA_banner_wijnemenjemee_22.png?w=2500 2500w
                    "

                alt="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" title="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" width="100%"
        />
    </div>
    <div class="banner-homepage-slide">

        <img src="https://ucarecdn.com/980eea49-b5d1-4c7e-92a8-e7907e20a0cd/VRA_banner_wijnemenjemee_23.png?w=1200"

             srcset="
                    https://ucarecdn.com/980eea49-b5d1-4c7e-92a8-e7907e20a0cd/VRA_banner_wijnemenjemee_23.png?w=760 760w,
                    https://ucarecdn.com/980eea49-b5d1-4c7e-92a8-e7907e20a0cd/VRA_banner_wijnemenjemee_23.png?w=900 900w,
                    https://ucarecdn.com/980eea49-b5d1-4c7e-92a8-e7907e20a0cd/VRA_banner_wijnemenjemee_23.png?w=1200 1200w,
                    https://ucarecdn.com/980eea49-b5d1-4c7e-92a8-e7907e20a0cd/VRA_banner_wijnemenjemee_23.png?w=1700 1700w,
                    https://ucarecdn.com/980eea49-b5d1-4c7e-92a8-e7907e20a0cd/VRA_banner_wijnemenjemee_23.png?w=2500 2500w
                    "

             alt="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" title="Wij nemen je mee in het verbeteren van de bereikbaarheid van de regio Amsterdam" width="100%"

        />
    </div>



    <div id="introgradient"></div>

    <div class="call-to-action">
			<span>in het verbeteren van<br ng-if="deviceService.data.screen_width > 1500" />
			de bereikbaarheid van de regio Amsterdam</span>
    </div>

    <!--{{> icon-woordmerk}}-->

</div>