<a href="{{ item.url}}" class="block_camera">


    {{#if item.main_image}}

    <div class="block_camera__image {{class}}">

        {{> responsive-image format='camera' size='third' title=item.main_image.alttext external_id=item.main_image.external_id filename=item.main_image.filename }}

    </div>

    {{/if}}



    <div class="block_camera__text">


        <span class="date">{{formatDate item.date 'DD MMMM YYYY'}}</span>

        <h3>{{{item.title}}}</h3>

        <!--<span class="author hide-on-mobile">-->
            <!--<span>{{item.author.first_name}}</span>-->
            <!--<span>{{item.author.last_name}}</span>-->
            <!--&lt;!&ndash;<span>: Vervoerregio Amsterdam</span>&ndash;&gt;-->
        <!--</span>-->



        <!--{{> icon-chevron }}-->

    </div>

</a>