<a href="{{ item.url}}" class="block">

    {{#if item.main_image}}

        {{> responsive-image format='square' size='third' title=item.main_image.alttext external_id=item.main_image.external_id filename=item.main_image.filename }}

    {{/if}}

    <div class="overlay">

        <h3>{{{item.title}}}</h3>

        <span class="author hide-on-mobile">
            <span>{{item.author.first_name}}</span>
            <span>{{item.author.last_name}}</span>
            <!--<span>: Vervoerregio Amsterdam</span>-->
        </span>

        <span class="date">{{formatDate item.date 'DD MMMM YYYY'}}</span>


        <!--{{#each item.taxonomies.tags as |tag|}}-->

            <!--<span class="tags hide-on-mobile">-->
                <!--<span class="separator">|</span>-->
                <!--{{tag.name}}-->
            <!--</span>-->


        <!--{{/each}}-->

        {{> icon-chevron }}

    </div>

</a>