<a href="{{ item.url}}" class="block large {{class}}">

    {{#if item.main_image}}

        {{> responsive-image format='camera' size='half' title=item.main_image.alttext external_id=item.main_image.external_id filename=item.main_image.filename }}

    {{/if}}


    <div class="gradient"></div>


    <div class="overlay">


        <span class="date">{{formatDate item.date 'DD MMMM YYYY'}}</span>

        <h2>{{{item.title}}}</h2>


        <!--<span class="author hide-on-mobile">-->
            <!--<span>{{item.author.first_name}}</span>-->
            <!--<span>{{item.author.last_name}}</span>-->
            <!--&lt;!&ndash;<span>: Vervoerregio Amsterdam</span>&ndash;&gt;-->
        <!--</span>-->


        <!--{{> icon-chevron }}-->


    </div>



</a>