<a class="ambassador block" href="{{item.url}}">

        {{> responsive-image format='square' size='third' title=item.main_image.alttext external_id=item.main_image.external_id filename=item.main_image.filename }}

    <div class="gradient"></div>
    <div class="overlay">

        <h2>{{{item.quote}}}</h2>
        <span class="ambassador_quote">{{item.title}} {{> icon-chevron }}</span>

    </div>
</a>