<svg height="0" width="0" aria-hidden="true" focusable="false">
    <defs>
        <clipPath id="bovenzijde" clipPathUnits="objectBoundingBox">

            <path d="M1,1 L0,1 L0,0.125 C0.26,0.125 0.406,0.125 0.44,0.125 C0.49,0.125 0.49,0 0.54,0 C0.573,0 0.726,0 1,0 L1,1 Z" id="Line-2" fill="#D8D8D8"></path>

        </clipPath>

        <clipPath id="onderzijde" clipPathUnits="objectBoundingBox">

            <path d="M0,0 L0,0.921 C0.281,0.921 0.43433,0.921 0.461,0.921 C0.501,0.921 0.501,1 0.541,1 C0.567666667,1 0.721,1 1,1 L1,0 L0,0 Z" id="Line" fill="#D8D8D8"></path>

        </clipPath>

        <clipPath id="rechts_onderzijde" clipPathUnits="objectBoundingBox" style="transform:scaleX(-1)">

            <path d="M0,0 L0,0.921 C0.281,0.921 0.43433,0.921 0.461,0.921 C0.501,0.921 0.501,1 0.541,1 C0.567666667,1 0.721,1 1,1 L1,0 L0,0 Z" id="Line" fill="#D8D8D8"></path>

        </clipPath>

    </defs>
</svg>

<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
    <linearGradient id="vra-gradient">
        <stop offset="0%" stop-color="#B9005F" />
        <stop offset="50%" stop-color="#E30059" />
        <stop offset="100%" stop-color="#B9005F" />
    </linearGradient>
</svg>
