


<script src="{{assetsUrl}}/assets/scripts/pages/{{{body.type}}}-{{renderEnv}}.js"></script>

{{#ifEquals body.type 'post' }}
    <script>
        var appreciation = new Appreciation;
        appreciation.init({{../body._id}});
    </script>
{{/ifEquals}}


{{#ifEquals body.type 'search' }}
    <script src='{{../assetsUrl}}/assets/vendorjs/algoliasearchLite.min.js'></script>
    <script src="{{../assetsUrl}}/assets/scripts/search-index.js"></script>
    <script>
        var search = Search('nl');
    </script>
{{/ifEquals}}


{{#ifEquals body.type 'vacature' }}

    <script src="{{../assetsUrl}}/assets/scripts/graphs.js"></script>
    <script>
        vacature_timeline('.timeline-container')
    </script>
{{/ifEquals}}


{{#ifEquals body.type 'homepage' }}


{{/ifEquals}}


{{#ifEquals renderEnv 'werkenbij' }}

    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
        fathom('set', 'siteId', 'UHAWTMDQ');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->

    <script>
        document.getElementById('more-vacancies-link').addEventListener('click', () => {
            fathom('trackGoal', 'JOEZJUHD', 0);
        });
    </script>

{{/ifEquals}}

{{#each body.sections as |section|}}

    {{#ifEquals section.type 'datavisplanning'}}

        {{#ifNot section.instance 'none'}}
            <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
            <script src='https://amsteltram.nl/assets/scripts/pages/compact-planning.js'></script>

            <script>
                d3.json('https://{{section.instance}}.nl/dataset.json', function(data) {
                    var planning = new Planning('planning_wrapper', data.datasetSection0);
                    planning.init();
                });
            </script>

        {{/ifNot}}

    {{/ifEquals}}

    {{#ifEquals section.type 'form'}}

    {{/ifEquals}}

{{/each}}