<style>

    /*.clipped_header {*/
        /*-webkit-clip-path: url(#clippath-header);*/
        /*clip-path: url(#clippath-header);*/
    /*}*/

</style>


<div id="menu" class="werkenbij">


        <div class="left-background"></div>

        <div class="left-side clipped_header">

            <svg width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
                <defs>
                    <clipPath id="clippath-header" clipPathUnits="objectBoundingBox">

                        <path d="M0,5.7718637e-08 L0,1.00000006 C0.354488569,1.00000006 0.624415595,5.7718637e-08 1,5.7718637e-08 L0,5.7718637e-08 Z" id="path-1"></path>

                    </clipPath>

                </defs>

                <rect x="0" y="0" width="1" height="1" clip-path="url('#clippath-header')"></rect>
            </svg>


        </div>

    <a href="{{baseUrl}}">{{> icon-beeldmerk}}</a>

        <ul>
            <li id="open-menu">
                {{> icon-hamburger }}
            </li>
            <li id="close-menu">
                {{> icon-close }}
            </li>
        </ul>
</div>


<nav id="nav" class="werkenbij">


        <ul>
            <li><a href="{{baseUrl}}">Homepage</a></li>
            <li><a href="{{baseUrl}}/organisatie">Over de organsiatie</a></li>
            <li><a href="{{baseUrl}}/voor-starters">Voor starters</a></li>
            <li><a href="{{baseUrl}}/arbeidsvoorwaarden">Arbeidsvoorwaarden</a></li>
            <li><a href="{{baseUrl}}/vacatures">Alle vacatures</a></li>
        </ul>
        <ul>
            <li><a href="https://vervoerregio.nl">Vervoerregio Amsterdam</a></li>
            <li><a href="https://wijnemenjemee.nl">Wij nemen je mee</a></li>
        </ul>

</nav>
