<title>{{#ifEquals renderEnv 'werkenbij'}}Werken bij Vervoerregio Amsterdam{{else}}Wij nemen je mee{{/ifEquals}} - {{or body.title.rendered body.title}}</title>
<!--<base href="/">-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

<meta name="description" content="{{excerpt body.content}}">

<meta property="og:url"content="{{or body.url 'http://wijnemenjemee.nl'}}" />
<meta property="og:title"content="{{or body.title 'Wij nemen je mee'}}" />
<meta property="og:image"content="https://ucarecdn.com/{{or body.main_image.external_id body.homeContent.main_image.external_id}}/-/resize/600x/{{or body.main_image.filename body.homeContent.main_image.filename}}" />
<meta property="og:description" content="{{excerpt body.content}}" />
<meta property="og:type" content="article" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Vervoerregio">
<meta name="twitter:creator" content="@Vervoerregio">
<meta name="twitter:title" content="{{or body.title 'Wij nemen je mee'}}">
<meta name="twitter:description" content="{{or (excerpt body.content) (excerpt body.page.content)}}">
<meta name="twitter:image" content="https://ucarecdn.com/{{or body.main_image.external_id body.homeContent.main_image.external_id}}/-/resize/600x/{{or body.main_image.filename body.homeContent.main_image.filename}}">

<link rel="stylesheet" href="{{assetsUrl}}/assets/css/main.css">

<link rel="apple-touch-icon" sizes="180x180" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/favicon-16x16.png">
<!-- <link rel="manifest" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/site.webmanifest"> -->
<link rel="mask-icon" href="{{assetsUrl}}/assets/favicons/{{renderEnv}}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{{! Lazyloading images }}
<script src="{{assetsUrl}}/assets/vendorjs/lazysizes.min.js" async=""></script>

{{! newsletter subscribe }}
<script src="{{assetsUrl}}/assets/vendorjs/axios.min.js"></script>

{{! voor tweets }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script type="text/javascript" src="{{assetsUrl}}/assets/vendorjs/algoliasearchLite.min.js"></script>
<script type="text/javascript" src="{{assetsUrl}}/assets/vendorjs/moment.min.js"></script>
<script type="text/javascript" src="{{assetsUrl}}/assets/vendorjs/locale.nl.js"></script>
<script type="text/javascript" src="{{assetsUrl}}/assets/vendorjs/hammer.min.js"></script>
<script type="text/javascript" src="{{assetsUrl}}/assets/vendorjs/anime.min.js"></script>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>

<link rel='stylesheet' id='mapbox_css-css'  href='//api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' type='text/css' media='all' />
<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

<!--<link rel="alternate" hreflang="en" href="https://amstelveenlijn.nl/english/" />-->
<!--<link rel="alternate" hreflang="ja" href="https://amstelveenlijn.nl/nieuws/2018/japanese-factsheet/" />-->

<style>

    .clipped_bovenzijde {
        -webkit-clip-path: url(#bovenzijde);
        clip-path: url(#bovenzijde);
    }

    .clipped_onderzijde {
        -webkit-clip-path: url(#onderzijde);
        clip-path: url(#onderzijde);
    }

    .clipped_rechtsonderzijde {
        -webkit-clip-path: url(#rechts_onderzijde);
        clip-path: url(#rechts_onderzijde);
    }

    .clipped_footer {
        -webkit-clip-path: url(#footer);
        clip-path: url(#footer);
    }
</style>

<script>
    function fadeInImage(element) {
        element.classList.add('loaded');
    }
</script>
<noscript>
    <style type="text/css">

        .noscript { display: block; }
        img { opacity: 1; }

    </style>
</noscript>

<script type="text/javascript">

    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://vervoerregio.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', {{#ifEquals renderEnv 'werkenbij'}}1{{else}}2{{/ifEquals}}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='//cdn.matomo.cloud/vervoerregio.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>


