<svg viewBox="0 0 25 25" height="25px" width="25px">
    <g transform="translate(-1.000000, -1201.000000)">
        <g transform="translate(2.000000, 1201.000000)">
            <path d="M13.3,11.8 C13.3,10.6 12.3,9.6 11.1,9.6 C9.9,9.6 8.9,10.6 8.9,11.8 C8.9,13 9.9,14 11.1,14 C12.4,14 13.3,13 13.3,11.8" id="path4010"></path>
            <path d="M11.2,6.6 C12.3,6.6 13.4,7 14.2,7.6 L22.1,7.6 L22.1,6.1 C22.1,3.1 19.6,0.6 16.6,0.6 L5.6,0.6 C2.6,0.6 0.1,3.1 0.1,6.1 L0.1,7.6 L8.2,7.6 C9,7 10,6.6 11.2,6.6 L11.2,6.6 Z M15.7,3.9 C15.7,3.6 16,3.3 16.3,3.3 L18.2,3.3 C18.5,3.3 18.8,3.6 18.8,3.9 L18.8,5.8 C18.8,6.1 18.5,6.4 18.2,6.4 L16.3,6.4 C16,6.4 15.7,6.1 15.7,5.8 L15.7,3.9 L15.7,3.9 L15.7,3.9 Z" id="path4012"></path>
            <path d="M16.4,11.8 C16.4,14.7 14.1,17 11.2,17 C8.3,17 6,14.7 6,11.8 C6,11 6.2,10.3 6.5,9.6 L0.1,9.6 L0.1,17.1 C0.1,20.1 2.6,22.6 5.6,22.6 L16.6,22.6 C19.6,22.6 22.1,20.1 22.1,17.1 L22.1,9.6 L15.9,9.6 C16.2,10.3 16.4,11 16.4,11.8" id="path4014"></path>
        </g>
    </g>
</svg>