<svg viewBox="0 0 25 25" height="25px" width="25px">
    <g transform="translate(-0.900000, -57.400000)">
        <path d="M23.6999992,68.1 C23.6999992,62.6 19.1999994,58.1 13.7999996,58.1 C8.29999983,58.1 3.9,62.6 3.9,68.1 C3.9,72.7 6.99999988,76.6 11.2999997,77.7 L11.2999997,81 L14.2999996,78 C19.4999994,77.9 23.6999992,73.5 23.6999992,68.1" id="path3754"></path>
    </g>
</svg>