<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="svg-icon black close " viewBox="0 0 25 25" height="25px" width="25px" fill="url(#vra-gradient)">

    <g transform="translate(-1.900000, -540.400000)">

        <path d="M5.1,547.4 L10.3,552.6 L5.1,557.8 L8.6,561.3 L13.8,556.1 L19,561.3 L22.5,557.8 L17.3,552.6 L22.5,547.4 L19,543.9 L19,543.9 L13.8,549.1 L8.6,543.9 L5.1,547.4 Z"></path>

    </g>
</svg>