<svg viewBox="0 0 25 25" height="25px" width="25px">
    <g transform="translate(-0.900000, -177.400000)">
        <path d="M24.3,183.1 C23.5,183.4 22.7,183.7 21.8,183.8 C22.7,183.3 23.4,182.4 23.7,181.4 C22.9,181.9 21.9,182.3 21,182.4 C20.2,181.6 19.1,181 17.9,181 C15.5,181 13.6,182.9 13.6,185.3 C13.6,185.6 13.6,186 13.7,186.3 C10.1,186.1 6.9,184.4 4.8,181.8 C4.4,182.4 4.2,183.2 4.2,184 C4.2,185.5 5,186.8 6.1,187.6 C5.4,187.6 4.7,187.4 4.1,187.1 C4.1,187.1 4.1,187.1 4.1,187.2 C4.1,189.3 5.6,191 7.6,191.4 C7.2,191.5 6.9,191.6 6.5,191.6 C6.2,191.6 6,191.6 5.7,191.5 C6.2,193.2 7.8,194.5 9.7,194.5 C8.2,195.7 6.4,196.3 4.3,196.3 C4,196.3 3.6,196.3 3.3,196.2 C5.2,197.4 7.5,198.1 9.9,198.1 C17.8,198.1 22.2,191.5 22.2,185.8 L22.2,185.2 C23,184.7 23.7,184 24.3,183.1" id="path3770"></path>
    </g>
</svg>