<svg id="home" width="34px" height="13px" viewBox="0 0 356 133" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="VRA_logo" transform="translate(-6.000000, -87.000000)" fill="url(#vra-gradient)" fill-rule="nonzero">
        <path d="M359.5,199.1 L303.3,101.7 C301.2,98.1 298.2,94.9 294.3,92.7 C282.6,85.9 267.5,89.9 260.8,101.7 L219.1,174 C213.1,184.4 203.2,191.1 192.3,193.5 L183.6,210.9 L174.9,193.6 C170.9,192.7 166.9,191.2 163.1,189.1 C154,183.8 147.7,175.6 144.7,166.4 L130.2,191.6 C135.5,199.1 142.4,205.5 150.9,210.4 C182.2,228.5 222.3,217.8 240.4,186.4 L280.9,116.2 C281.4,115.3 282.7,115.3 283.3,116.2 L338.3,211.5 C341.7,217.4 349.2,219.4 355.1,216 C360.9,212.5 362.9,205 359.5,199.1 M237,115.6 L222.5,140.8 C219.5,131.6 213.2,123.3 204.1,118.1 C200.3,115.9 196.3,114.4 192.3,113.5 L183.7,96.2 L175,113.5 C164.1,115.9 154.2,122.6 148.2,133 L106.5,205.2 C99.7,216.9 84.7,221 73,214.2 C69.1,212 66.1,208.8 64,205.2 L7.8,107.9 C4.4,102 6.4,94.5 12.3,91.1 C18.2,87.7 25.7,89.7 29.1,95.6 L84.1,190.9 C84.6,191.8 85.9,191.8 86.5,190.9 L127,120.7 C145.1,89.4 185.1,78.6 216.5,96.7 C224.8,101.7 231.7,108.1 237,115.6" id="Shape"></path>
    </g>
</svg>