<svg viewBox="0 0 25 25" height="25px" width="25px">
    <g transform="translate(-2.000000, -481.000000)">
        <g id="polygon3826" transform="translate(4.000000, 482.000000)">
            <path d="M7.3,0.8 L7.3,8.1 L0,8.1 L0,13.1 L7.3,13.1 L7.3,20.4 L12.3,20.4 L12.3,13.1 L19.6,13.1 L19.6,8.1 L19.6,8.1 L12.3,8.1 L12.3,0.8 L7.3,0.8 Z"></path>
        </g>
</g>
</svg>