<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="svg-icon black hamburger " viewBox="0 0 25 25" height="25px" width="25px" stroke="url(#vra-gradient)">

    <g transform="translate(-2.900000, 1.600000)">
        <path d="M2.8,1.9 L26.8,1.9 M2.8,10.6 L26.8,10.6 M2.8,19.4 L26.8,19.4"></path>
    </g>
</svg>