<svg width="439px" height="218px" viewBox="0 0 439 218" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M30,124 L0.625,124 L30,95 L30,0 L439,0 L439,218 L30,218 L30,124 Z" id="Combined-Shape"></path>
</svg>