<svg version="1.1" id="vra_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1024 768" style="enable-background:new 0 0 1024 768;" xml:space="preserve">

            <path class="st0" d="M509.3,425.5c-1.4,0-2.5-1.1-2.5-2.5V300c0-1.4,1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5V423
                C511.8,424.4,510.7,425.5,509.3,425.5"/>
            <path class="st0" d="M480.5,407.1l-56.2-97.4c-2.1-3.6-5.1-6.8-9-9c-11.7-6.8-26.8-2.8-33.5,9L340.1,382
                c-6,10.4-15.9,17.1-26.8,19.5l-8.7,17.4l-8.7-17.3c-4-0.9-8-2.4-11.8-4.5c-9.1-5.3-15.4-13.5-18.4-22.7l-14.5,25.2
                c5.3,7.5,12.2,13.9,20.7,18.8c31.3,18.1,71.4,7.4,89.5-24l40.5-70.2c0.5-0.9,1.8-0.9,2.4,0l55,95.3c3.4,5.9,10.9,7.9,16.8,4.5
                C481.9,420.5,483.9,413,480.5,407.1 M358,323.6l-14.5,25.2c-3-9.2-9.3-17.5-18.4-22.7c-3.8-2.2-7.8-3.7-11.8-4.6l-8.6-17.3
                l-8.7,17.3c-10.9,2.4-20.8,9.1-26.8,19.5l-41.7,72.2c-6.8,11.7-21.8,15.8-33.5,9c-3.9-2.2-6.9-5.4-9-9l-56.2-97.3
                c-3.4-5.9-1.4-13.4,4.5-16.8c5.9-3.4,13.4-1.4,16.8,4.5l55,95.3c0.5,0.9,1.8,0.9,2.4,0l40.5-70.2c18.1-31.3,58.1-42.1,89.5-24
                C345.8,309.7,352.7,316.1,358,323.6"/>
            <path class="st0" d="M569.3,311.4c0.5-1.4,2-2,3.2-1.6c1.3,0.5,1.9,2.1,1.5,3.4L560.7,349c-1.1,2.9-2.9,4.4-5.4,4.4
                c-2.5,0-4.3-1.5-5.4-4.4l-13.3-35.8c-0.5-1.3,0.2-2.8,1.5-3.3c1.3-0.5,2.8,0.1,3.2,1.5l13.3,36.5c0.1,0.2,0.3,0.5,0.7,0.5
                c0.4,0,0.7-0.3,0.7-0.5L569.3,311.4z"/>
            <path class="st0" d="M596.5,334.6c0.5,0,0.7-0.2,0.8-0.7c0.4-5.6-3-9.3-8.3-9.3c-6,0-9,3.9-8.8,10H596.5z M602.2,335.3
                c0,2.1-1.1,3.5-3.6,3.5h-18.3v1c0,5.7,3.7,9,9.1,9c2.2,0,4.7-0.6,7.5-1.6c2.2-0.9,3.5,0.6,3.5,2c0,0.8-0.3,1.5-1.3,2.2
                c-2,1.2-6.2,2-9.7,2c-8.4,0-13.4-5.3-13.9-13.1c-0.1-2.3-0.1-5.4,0.1-7.3c0.7-7.9,6.1-12.7,13.5-12.7c8.1,0,13.1,5.5,13.1,13.3
                V335.3z"/>
            <path class="st0" d="M628.1,323.2c0,1-0.7,2.3-2.4,2.3c-1.2,0-2.7-0.5-4.8-0.5c-3.4,0.1-5,1.8-5,5.5v20.1c0,1.4-1.1,2.5-2.5,2.5
                c-1.3,0-2.5-1.1-2.5-2.5v-20.6c0-6,3.5-9.7,10-9.7c2.1,0,4.2,0.3,5.3,0.7C627.6,321.2,628.1,322,628.1,323.2"/>
            <path class="st0" d="M661.6,324.2l-9.4,25.1c-1,2.6-2.6,3.9-4.8,3.9c-2.1,0-3.7-1.3-4.6-3.8l-9.5-25.2c-0.7-1.9,0.6-3.5,2.4-3.5
                c1,0,1.9,0.8,2.3,1.8l9.2,25.4c0.1,0.2,0.2,0.2,0.3,0.2c0.1,0,0.2-0.1,0.3-0.2l9-25.1c0.4-1.2,1.3-2,2.4-2
                C661.1,320.6,662.3,322.4,661.6,324.2"/>
            <path class="st0" d="M672.2,332.6c-0.1,2.1-0.1,5.9,0,8c0.4,4.8,3.7,8,8.7,8c5,0,8.3-3.2,8.7-8c0.1-2.1,0.1-5.9,0-8
                c-0.3-4.5-3.5-7.8-8.7-7.8C675.7,324.8,672.5,328.1,672.2,332.6 M694.5,332.3c0.2,2.5,0.2,6.2,0,8.7c-0.4,7.2-6.1,12.3-13.6,12.3
                c-7.5,0-13.2-5.2-13.6-12.3c-0.1-2.4-0.1-6.2,0-8.7c0.4-7.2,6.1-12.1,13.6-12.1C688.4,320.2,694,325.1,694.5,332.3"/>
            <path class="st0" d="M723.5,334.6c0.5,0,0.7-0.2,0.8-0.7c0.4-5.6-3-9.3-8.3-9.3c-6,0-9,3.9-8.8,10H723.5z M729.1,335.3
                c0,2.1-1.1,3.5-3.6,3.5h-18.3v1c0,5.7,3.7,9,9.1,9c2.2,0,4.7-0.6,7.5-1.6c2.2-0.9,3.5,0.6,3.5,2c0,0.8-0.3,1.5-1.3,2.2
                c-2,1.2-6.2,2-9.7,2c-8.4,0-13.4-5.3-13.9-13.1c-0.1-2.3-0.1-5.4,0.1-7.3c0.7-7.9,6.1-12.7,13.5-12.7c8.1,0,13.1,5.5,13.1,13.3
                V335.3z"/>
            <path class="st0" d="M755.1,323.2c0,1-0.7,2.3-2.4,2.3c-1.2,0-2.7-0.5-4.8-0.5c-3.4,0.1-5,1.8-5,5.5v20.1c0,1.4-1.1,2.5-2.5,2.5
                c-1.3,0-2.5-1.1-2.5-2.5v-20.6c0-6,3.5-9.7,10-9.7c2.1,0,4.2,0.3,5.3,0.7C754.6,321.2,755.1,322,755.1,323.2"/>
            <path class="st0" d="M778.2,323.2c0,1-0.7,2.3-2.4,2.3c-1.2,0-2.7-0.5-4.8-0.5c-3.4,0.1-5,1.8-5,5.5v20.1c0,1.4-1.1,2.5-2.5,2.5
                c-1.3,0-2.5-1.1-2.5-2.5v-20.6c0-6,3.5-9.7,10-9.7c2.1,0,4.2,0.3,5.3,0.7C777.7,321.2,778.2,322,778.2,323.2"/>
            <path class="st0" d="M803.5,334.6c0.5,0,0.7-0.2,0.8-0.7c0.4-5.6-3-9.3-8.3-9.3c-6,0-9,3.9-8.8,10H803.5z M809.1,335.3
                c0,2.1-1.1,3.5-3.6,3.5h-18.3v1c0,5.7,3.7,9,9.1,9c2.2,0,4.7-0.6,7.5-1.6c2.2-0.9,3.5,0.6,3.5,2c0,0.8-0.3,1.5-1.3,2.2
                c-2,1.2-6.2,2-9.7,2c-8.4,0-13.4-5.3-13.9-13.1c-0.1-2.3-0.1-5.4,0.1-7.3c0.7-7.9,6.1-12.7,13.5-12.7c8.1,0,13.1,5.5,13.1,13.3
                V335.3z"/>
            <path class="st0" d="M821.9,332.9c-0.1,2.1-0.1,5,0,7.1c0.4,4.8,2.8,7.9,7.8,7.9s7.8-1.6,8.9-2.5v-18.3c-0.2-0.2-3.5-2.2-8.3-2.2
                C824.8,324.9,822.4,328.1,821.9,332.9 M843.6,350.5c0,8.3-5,13.8-15.3,13.8c-2,0-4.3-0.2-6.8-0.7c-1.2-0.2-2.2-1-2.2-2.3
                c0-1.3,1-2.8,2.9-2.4c2.4,0.5,4.5,0.7,6.4,0.7c6.9,0,10.1-3.3,10.1-9.3c-2.2,1-5.4,2.1-9,2.1c-7.6,0-12.2-5-12.6-12.2
                c-0.1-2.4-0.1-5.3,0-7.7c0.4-7.3,5.4-12.4,12.8-12.4c6.4,0,11.1,2.4,12.8,3.7c0.8,0.5,1,1.2,1,2.1V350.5z"/>
            <path class="st0" d="M858.9,323.2v27.3c0,1.5-1,2.6-2.5,2.6c-1.3,0-2.4-1.1-2.4-2.6v-27.3c0-1.4,1-2.6,2.4-2.6
                C857.8,320.6,858.9,321.7,858.9,323.2 M856.4,315.7c-1.7,0-3-1.5-3-3.1c0-1.7,1.3-3.1,3-3.1c1.7,0,3.1,1.3,3.1,3.1
                C859.5,314.2,858.1,315.7,856.4,315.7"/>
            <path class="st0" d="M874.2,332.6c-0.1,2.1-0.1,5.9,0,8c0.4,4.8,3.7,8,8.7,8c5,0,8.3-3.2,8.7-8c0.1-2.1,0.1-5.9,0-8
                c-0.3-4.5-3.5-7.8-8.7-7.8C877.7,324.8,874.5,328.1,874.2,332.6 M896.5,332.3c0.2,2.5,0.2,6.2,0,8.7c-0.4,7.2-6.1,12.3-13.6,12.3
                c-7.5,0-13.2-5.2-13.6-12.3c-0.1-2.4-0.1-6.2,0-8.7c0.4-7.2,6.1-12.1,13.6-12.1C890.4,320.2,896.1,325.1,896.5,332.3"/>
            <path class="st0" d="M547.5,394.1h16.1l-6.4-18.3c-0.2-0.7-0.8-1.2-1.6-1.2c-0.8,0-1.3,0.5-1.6,1.2L547.5,394.1z M565.3,398.8
                h-19.5l-4.5,12.8c-0.5,1.3-2,1.9-3.3,1.4c-1.3-0.5-1.8-2-1.4-3.2l12.7-35.5c1.2-3.2,3.5-4.6,6.3-4.6s5.1,1.5,6.2,4.6l12.7,35.5
                c0.4,1.2-0.1,2.8-1.4,3.2c-1.3,0.5-2.8-0.1-3.3-1.4L565.3,398.8z"/>
            <path class="st0" d="M624,410.8c0,1.5-1,2.6-2.4,2.6c-1.3,0-2.5-1.1-2.5-2.6v-17.5c0-5.6-2.4-8.1-7-8.1c-3.4,0-5.7,1.5-7,3.2v22.3
                c0,1.5-1,2.6-2.4,2.6c-1.3,0-2.5-1.1-2.5-2.6v-18c0-5.3-2.7-7.5-7-7.5c-4.8,0-6.8,1.9-7,2v23.5c0,1.5-1,2.6-2.4,2.6
                c-1.3,0-2.5-1.1-2.5-2.6v-24.7c0-1.2,0.4-1.6,1.3-2.4c2.3-1.8,6.3-3.2,10.6-3.2c4.5,0,7.5,1.3,9.4,3.7c1.9-1.6,4.7-3.7,9.7-3.7
                c8.4,0,11.8,4.5,11.8,12.5V410.8z"/>
            <path class="st0" d="M655.6,403.9c0,6-4.8,9.8-11.9,9.8c-4.6,0-8.1-1.2-10.9-3.4c-1-0.8-1.2-2.3-0.5-3.3c0.8-1,2.1-1.3,3.4-0.5
                c2.1,1.5,4,2.8,8.4,2.8c4.2,0,6.5-2.2,6.5-5.1c0-2.1-1.4-3.5-4.9-4.4c-2.1-0.5-2.1-0.4-4.4-1c-5.7-1.5-8.6-4.1-8.6-8.7
                c0-5.8,4.7-9.5,11.4-9.5c3.5,0,6.8,1.2,8.7,2.6c1.2,1,1,2.6,0.3,3.4c-0.8,0.9-2.1,1-3.3,0.3c-2-1.2-3.8-1.8-5.9-1.8
                c-4.3,0-6.4,1.8-6.4,4.8c0,2,1.1,3.2,4.8,4.2c2,0.5,4.1,1,5.1,1.2C652.8,396.6,655.6,399.5,655.6,403.9"/>
            <path class="st0" d="M673.1,413.7c-6.5,0-9.4-4.3-9.4-10.1V377c0-1.4,1.1-2.5,2.4-2.5c1.4,0,2.5,1.1,2.5,2.5v5h9.2
                c1.2,0,2.3,1,2.3,2.3c0,1.3-1.1,2.3-2.3,2.3h-9.2v17.2c0,3.1,1.4,5.3,4.7,5.3c1.8,0,3.4-0.7,4.9-1.1c2-0.5,3.2,0.7,3.2,2.3
                c0,1.1-0.6,1.9-2,2.4C677.8,413.3,675.4,413.7,673.1,413.7"/>
            <path class="st0" d="M708.3,395.1c0.5,0,0.7-0.2,0.8-0.7c0.4-5.6-3-9.3-8.3-9.3c-6,0-9,3.9-8.8,10H708.3z M713.9,395.7
                c0,2.1-1.1,3.5-3.6,3.5H692v1c0,5.7,3.7,9,9.1,9c2.2,0,4.7-0.6,7.5-1.6c2.2-0.9,3.5,0.6,3.5,2c0,0.8-0.3,1.5-1.3,2.2
                c-2,1.2-6.2,2-9.7,2c-8.4,0-13.4-5.3-13.9-13.1c-0.1-2.3-0.1-5.4,0.1-7.3c0.7-7.9,6.1-12.7,13.5-12.7c8.1,0,13.1,5.5,13.1,13.3
                V395.7z"/>
            <path class="st0" d="M739.9,383.6c0,1-0.7,2.3-2.4,2.3c-1.2,0-2.7-0.5-4.8-0.5c-3.4,0.1-5,1.8-5,5.5v20c0,1.4-1.1,2.5-2.5,2.5
                c-1.3,0-2.5-1.1-2.5-2.5v-20.6c0-6,3.5-9.7,10-9.7c2.1,0,4.2,0.3,5.3,0.7C739.3,381.6,739.9,382.4,739.9,383.6"/>
            <path class="st0" d="M758.4,409.1c2.9,0,6.7-1.5,8.1-2.5v-19.2c-1.5-0.9-5-2.1-8.6-2.1c-5.3,0-7.7,2.8-8.1,7.8
                c-0.1,1.8-0.1,5.9,0,8C750.3,406.3,753.1,409.1,758.4,409.1 M757.7,380.6c3.3,0,6.6,1,8.8,2v-10.3c0-1.4,1.1-2.6,2.4-2.6
                c1.5,0,2.5,1.2,2.5,2.6V408c0,0.9-0.2,1.4-1,2c-1.5,1-6.5,3.7-12,3.7c-8.1,0-12.9-4.8-13.5-12.3c-0.2-2.1-0.2-6.4,0-8.6
                C745.4,385.1,749.9,380.6,757.7,380.6"/>
            <path class="st0" d="M800.9,407v-8c-3.1-0.8-5.4-1.3-8.5-1.3c-4.2,0-7.4,2-7.4,5.6c0,3.8,2.6,6.1,7.8,6.1
                C797.8,409.2,800.3,407.5,800.9,407 M805.8,408.3c0,0.9-0.2,1.5-1,2c-1.7,1.2-6.5,3.4-12.5,3.4c-8,0-12.2-4.3-12.2-10.4
                c0-5.4,4-9.9,12.3-9.9c2.9,0,5.4,0.4,8.6,1.3v-2.5c0-5-2.4-7-7.6-7c-2.8,0-5.5,0.9-7.3,1.6c-2.1,0.8-3.5-0.4-3.5-1.9
                c0-0.9,0.4-1.8,1.6-2.3c1.9-0.9,5.6-2,9.7-2c7.3,0,12,3.4,12,11.4V408.3z"/>
            <path class="st0" d="M858.7,410.8c0,1.5-1,2.6-2.4,2.6c-1.3,0-2.5-1.1-2.5-2.6v-17.5c0-5.6-2.4-8.1-7-8.1c-3.4,0-5.7,1.5-7,3.2
                v22.3c0,1.5-1,2.6-2.4,2.6c-1.3,0-2.5-1.1-2.5-2.6v-18c0-5.3-2.7-7.5-7-7.5c-4.8,0-6.8,1.9-7,2v23.5c0,1.5-1,2.6-2.4,2.6
                c-1.3,0-2.5-1.1-2.5-2.6v-24.7c0-1.2,0.4-1.6,1.3-2.4c2.3-1.8,6.3-3.2,10.6-3.2c4.5,0,7.5,1.3,9.4,3.7c1.9-1.6,4.7-3.7,9.7-3.7
                c8.4,0,11.8,4.5,11.8,12.5V410.8z"/>

    </svg>