<svg viewBox="0 0 25 25" height="25px" width="25px">
    <g transform="translate(-1.900000, -1266.400000)">
        <g transform="translate(2.000000, 1270.000000)" stroke="transparent">
            <path d="M19.1,6.8 C18.7,6.8 18.4,7.1 18.4,7.8 L18.4,8.5 L19.7,8.5 L19.7,7.8 C19.8,7.1 19.6,6.8 19.1,6.8" id="path4036"></path>
            <path d="M14.2,6.8 C14,6.8 13.8,6.9 13.5,7.1 L13.5,11.6 C13.7,11.8 13.9,11.9 14.2,11.9 C14.6,11.9 14.8,11.6 14.8,10.9 L14.8,7.8 C14.8,7.1 14.6,6.8 14.2,6.8" id="path4038"></path>
            <path d="M22.4,3.1 C22.1,1.9 21.2,1.1 20,0.9 C17.3,0.6 14.5,0.6 11.8,0.6 C9.1,0.6 6.3,0.6 3.6,0.9 C2.4,1 1.5,1.9 1.2,3.1 C0.8,4.8 0.8,6.6 0.8,8.3 C0.8,10 0.8,11.8 1.2,13.5 C1.5,14.7 2.4,15.5 3.6,15.7 C6.3,16 9.1,16 11.8,16 C14.5,16 17.3,16 20,15.7 C21.2,15.6 22.1,14.7 22.4,13.5 C22.8,11.8 22.8,10 22.8,8.3 C22.8,6.6 22.8,4.7 22.4,3.1 L22.4,3.1 Z M7.1,4.6 L5.5,4.6 L5.5,13.1 L4,13.1 L4,4.6 L2.4,4.6 L2.4,3.2 L7,3.2 L7,4.6 L7.1,4.6 L7.1,4.6 Z M11.1,13 L9.8,13 L9.8,12.2 C9.3,12.8 8.8,13.1 8.3,13.1 C7.9,13.1 7.6,12.9 7.4,12.6 C7.3,12.4 7.3,12 7.3,11.5 L7.3,5.7 L8.6,5.7 L8.6,11.1 L8.6,11.6 C8.6,11.8 8.7,11.9 8.9,11.9 C9.2,11.9 9.4,11.7 9.7,11.3 L9.7,5.7 L11,5.7 L11,13 L11.1,13 L11.1,13 Z M16.1,10.8 C16.1,11.5 16.1,12 16,12.3 C15.8,12.8 15.5,13.1 14.9,13.1 C14.4,13.1 14,12.8 13.5,12.3 L13.5,13 L12.2,13 L12.2,3.2 L13.5,3.2 L13.5,6.4 C13.9,5.9 14.4,5.6 14.9,5.6 C15.4,5.6 15.8,5.9 16,6.4 C16.1,6.7 16.1,7.2 16.1,7.9 L16.1,10.8 L16.1,10.8 L16.1,10.8 Z M21.1,9.6 L18.4,9.6 L18.4,10.9 C18.4,11.6 18.6,11.9 19.1,11.9 C19.4,11.9 19.6,11.7 19.7,11.4 L19.7,10.5 L21.1,10.5 L21.1,10.7 L21.1,11.6 C21.1,11.9 21,12.2 20.8,12.4 C20.4,12.9 19.9,13.2 19.2,13.2 C18.5,13.2 18,13 17.6,12.4 C17.3,12 17.2,11.5 17.2,10.7 L17.2,8.1 C17.2,7.3 17.3,6.8 17.6,6.4 C18,5.9 18.5,5.6 19.2,5.6 C19.9,5.6 20.4,5.8 20.8,6.4 C21.1,6.8 21.2,7.3 21.2,8.1 L21.2,9.6 L21.1,9.6 L21.1,9.6 Z" id="path4040"></path>
        </g>
    </g>
</svg>