<svg width="8px" height="6px" viewBox="0 0 8 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Group" fill-rule="nonzero" fill="url(#vra-gradient)">
        <path d="M2.1166667,0.12082 L2.1166667,0.3854 L0.52916667,0.3854 L0.52916667,5.41249 L7.9375001,5.41249 L7.9375001,0.3854 L6.3500001,0.3854 L6.3500001,0.12082 L6.0854168,0.12082 L6.0854168,0.3854 L4.3656251,0.3854 L4.3656251,0.12082 L4.1010417,0.12082 L4.1010417,0.3854 L2.3812501,0.3854 L2.3812501,0.12082 L2.1166667,0.12082 Z M0.79374997,0.64999 L2.1166667,0.64999 L2.1166667,0.91457 L2.3812501,0.91457 L2.3812501,0.64999 L4.1010417,0.64999 L4.1010417,0.91457 L4.3656251,0.91457 L4.3656251,0.64999 L6.0854168,0.64999 L6.0854168,0.91457 L6.3500001,0.91457 L6.3500001,0.64999 L7.6729168,0.64999 L7.6729168,1.44374 L0.79374997,1.44374 L0.79374997,0.64999 Z M0.79374997,1.70832 L7.6729168,1.70832 L7.6729168,5.1479 L0.79374997,5.1479 L0.79374997,1.70832 Z" id="Shape"></path>
        <path d="M2.2490415,4.07029 L2.7782115,4.59946 L3.5719616,3.80571 C3.62362508,3.7540465 3.62362505,3.67028343 3.57196155,3.61861995 C3.52029805,3.56695647 3.43653498,3.5669565 3.3848715,3.61862 L2.7782115,4.22528 L2.4361315,3.8832 C2.38445925,3.83158773 2.30073808,3.83161204 2.24909581,3.88325431 C2.19745354,3.93489658 2.19742923,4.01861775 2.2490415,4.07029 Z" id="Shape"></path>
        <path d="M4.8948814,4.07029 L5.4240415,4.59946 L6.2177915,3.80571 C6.26890175,3.75395537 6.26864193,3.67064644 6.21720986,3.61921161 C6.16577778,3.56777679 6.08246886,3.56751251 6.0307115,3.61862 L5.4240415,4.22528 L5.0819715,3.8832 C5.03030802,3.83153654 4.94654498,3.83153653 4.89488149,3.88319999 C4.84321801,3.93486345 4.84321796,4.01862649 4.8948814,4.07029 Z" id="Shape"></path>
        <path d="M4.8948814,2.74738 L5.4240415,3.27654 L6.2177915,2.48279 C6.26890175,2.43103537 6.26864193,2.34772644 6.21720986,2.29629161 C6.16577778,2.24485679 6.08246886,2.24459251 6.0307115,2.2957 L5.4240415,2.90237 L5.0819715,2.56029 C5.03030802,2.50862654 4.94654498,2.50862653 4.89488149,2.56028999 C4.84321801,2.61195345 4.84321796,2.69571649 4.8948814,2.74738 Z" id="Shape"></path>
        <path d="M2.2490415,2.74738 L2.7782115,3.27654 L3.5719616,2.48279 C3.60538201,2.44936957 3.61843416,2.40065825 3.60620142,2.35500511 C3.59396869,2.30935197 3.55830952,2.27369282 3.51265637,2.26146011 C3.46700323,2.2492274 3.41829191,2.26227957 3.3848715,2.2957 L2.7782115,2.90237 L2.4361315,2.56029 C2.3844652,2.508643 2.30071563,2.50865082 2.24905897,2.56030747 C2.19740232,2.61196413 2.1973945,2.6957137 2.2490415,2.74738 Z" id="Shape"></path>
    </g>
</svg>