<ul class="vacature_parameters">

    <li>{{> icon-calendar }}{{vacature.vacature_parameters.aantal_uren}} uur per week</li>

    <li>{{> icon-education}}{{vacature.vacature_parameters.opleidingsniveau}}</li>

    <li>{{> icon-salary }}{{currency vacature.vacature_parameters.min_salaris}} {{#if vacature.vacature_parameters.max_salaris}}tot{{/if}} {{currency vacature.vacature_parameters.max_salaris}}</li>

</ul>