<!DOCTYPE html>
<html>
<head>
    {{> head }}
</head>

<body class="post wijnemenjemee">

{{> header }}

{{> menu }}

<article>

    <div id="cover_container" class="">   <!-- clipped_onderzijde -->
        {{> responsive-image format='camera' size='full' title=body.main_image.alttext external_id=body.main_image.external_id filename=body.main_image.filename }}
    </div>

    <div id="post_info">

        <span class="date">{{formatDate body.date 'long'}}</span>
        <h1>{{{body.title}}}</h1>
        <div class="authors">

            {{body.author.first_name}} {{body.author.last_name}} {{#if body.author.organisation}} | {{body.author.organisation}}{{/if}}</span>

            <div id="author_thumbnail">
                {{> responsive-image format='sqaure' size='fourth' title=body.author.first_nam external_id=body.author.thumbnail.external_id filename=body.author.thumbnail.filename }}
            </div>
        </div>
    </div>

    <section id="post_intro">

        <div class="text">{{{body.content}}}</div>
    </section>

    {{>sections sections=body.sections }}

</article>


{{> clip-paths }}

</body>

{{> footer }}

{{> footer-scripts}}

</html>
