
.tweet_container {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	padding: 1em 0;
	border-bottom: 1px solid $grijs;
	overflow: hidden;
	//background: #fff;
}

.tweet_container_upper {

	position: relative;
	padding-left: 3.5rem;

	img { 
		position: absolute; 
		top: 0rem; 
		left: 0rem; 
		opacity: 1; 
		width: 3rem; 
		height: 3rem; 
		margin: 0; 
	}
}

.tweet_container_body {

	margin-top: .5rem;
	width: 100%;
	@include compactText();
	overflow: hidden;
}
	
	
