<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{renderEnv}} - {{body.title}}</title>
    {{> head }}

    <style>

        .clipped_bovenzijde {
            -webkit-clip-path: url(#bovenzijde);
            clip-path: url(#bovenzijde);
        }

        .clipped_onderzijde {
            -webkit-clip-path: url(#onderzijde);
            clip-path: url(#onderzijde);
        }

        .clipped_footer {
            -webkit-clip-path: url(#footer);
            clip-path: url(#footer);
        }
    </style>
</head>
<body class="page werkenbij">

{{> header-wb }}

<article>

    <div id="cover_container">
        {{> responsive-image format='camera' size='full' title=body.main_image.alttext external_id=body.main_image.external_id filename=body.main_image.filename }}

        <div class="gradient"></div>

    </div>

    <h1>{{{body.title}}}</h1>

    <div class="main_background clipped_bovenzijde">

    </div>

    <div id="post_intro" class="">

        <h1>{{body.subtitle}}</h1>

        {{{body.content}}}

    </div>

    {{>sections sections=body.sections }}

</article>

<section class="related">

    {{#each body.related as |item|}}
        {{> block-page item=item baseUrl=../baseUrl}}
    {{/each}}

</section>

{{> footer-wb }}

{{> clip-paths }}

</body>

{{> footer-scripts}}
</html>
