.container  { 

	@extend .container; 

	display: flex; 
/*	@include flex-flow(row wrap); */
	justify-content: space-between; 
	align-items: flex-start;

 }


#kaart {

	width: 100vw;
	height: 90vh;
	position: relative;
	overflow: hidden;

	#kaart-explanation {

		transition: all 500ms;
		display: none;
		position: absolute;
		z-index: 999;
		//top: 2em;
		bottom: 2em;
		left: 3em;
		padding: 2em 2em 4em 2em;
		max-width: 400px;
		max-height: 480px;
		background: $purple;
		border: none;
		text-align: left;
		-webkit-clip-path: polygon(50% 0%, 100% 2em, 100% 100%, 50% 100%, 0 calc(100% - 2em), 0 0);
		clip-path: polygon(50% 0%, 100% 2em, 100% 100%, 50% 100%, 0 calc(100% - 2em), 0 0);

		@media (min-width : $breakpoint-sm) {
			display: block;
		}

		#kaart-explanation-scrolltainer {

			overflow-y : auto;
			-webkit-overflow-scrolling: touch;
			height: calc(100% - 2em);
		}

		#kaart-uitleg-sluit-knop {

			position: absolute;
			right: 1em;
			bottom: 1em;
			padding-right: 2.5em;
			@extend .smaller;

			svg { 

				position: absolute;
			    right: 0;
			    bottom: 0em;
			    width: 2em;
			    height: 2em;

     		}
		}


	}

	#tiltedCam:hover {

		background: $purple;
	}

	.spinner { 

		position: absolute;
		z-index: 998;
		left: 33%;
		top: 50%;
		margin: -100px 0 0 -100px; 
	}

	#map-container {

		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1; 
		background: $purple;
		overflow: hidden;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		canvas {
			background: transparent;
		}
	}

	#kaartmask {

		width: 100%;
		height: 180vw;
		position: absolute;
		z-index: 1; 
		background: $purple;
		opacity: 0;
	}

	#kaart-info-balk {

		position: absolute;
		z-index: 2; 
		top: 0;
		bottom: 0;
		right: 0; 
		width: calc(400px + 50% - 640px); 

		background: #fff;

		@media (min-width: $breakpoint-sm) {
			min-width: 400px;
		}
		 

		#kaart-info-balk-header { 

			position: relative;
			padding: 1rem;
			background: $purple;
			color: #fff;

			h2 {  
				font-size: 1.4rem;
				line-height: 1.4em;
				font-family: "Cabrito Sans W01 Norm Demi";
			}

			svg {

				position: absolute;
			    right: 1em;
			    bottom: 1.2em;
			    width: 1.4em;
			    height: 1.4em;
			    stroke: $wit;
			    stroke-width: 1px; 
			}
		}

		#kaart-info-balk-navigatie {

			height: 3.4em;
			line-height: 3.4em;
			display: flex;
			flex-direction: row;
			background: $lichtgrijs;
			border-bottom: 3px solid $purple;

			.tab { 

				width: 33%; 
				padding: 0 1em;
				border-left: 3px solid $purple;
			}

			.tab:first-of-type {

				border-left: none;
			}

			.tab:hover { background: $magenta; }

			.tab.active { background: $wit; }
		}

		#kaart-info-balk-wrapper {

			position: relative;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: calc(100% - 6em);
		}

		#kaart-info-balk-body {

			position: relative;
			margin-left: 1.5rem;
			//border-left: 8px solid $donkergeel;
			width: calc(100% - 4.5rem);
			overflow-x: visible;
			padding: 1em;
			background-image: linear-gradient(#fff 50%, #f8af00 50%, #f8af00);
			background-position: left;
			background-size: 8px 8px;
			background-repeat: repeat-y;

		}
	}
}

.leaflet-container .leaflet-marker-icon.locatielabel {

	color: #fff;
	font-family: Cabrito Sans W01 Norm Bold;
}

#relevant_locations { display: none; }

@media (max-width: 1280px) {


}

@media (max-width: 1024px) {

	
}

@media (max-width: 767px) {


	#kaart #kaart-info-balk {

		width: 100%;
	}

}

.location-block {

	min-height: 4rem;
	margin-left: -2rem;
	padding-left: 3rem;
	width: calc(100% - 2em);
	padding-bottom: 1em;

	//@extend .smaller;

	ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

		li {

			position: relative;
			padding-left: 1em;
		}
	}

	ul li:before {

		content: ". ";
		color: #e53212;
		font-size: 60px;
		position: absolute;
		left: -.1em;
		top: -.88em;
	}

	h3 {

		line-height: 2.1rem;
		margin: 0;
		position: relative;
		margin: 0 0 0 -2.05rem;
		padding-left: 2.05rem;

		svg.crossing {

			position: absolute;
			top: -.35rem;
			left: -1.1rem;
			z-index: 0;
		}
	}
	h3.numbered { }

	p { margin: 0;  }

	.activiteit {

		position: relative;
		padding: 1em;
		background: #e6e6e6;
		margin-top: 1em;
		margin-left: -.5em;
		margin-right: 1em;

		@include compactText();

		svg {

			position: absolute;
			top: 0;
			left: -1em;
			width: 2em;
			height: 2em;

			line, polyline, rect, circle {
				stroke-width: 2px;
				color: $donkergrijs;
			}
		}

		h4 {
			margin: 0;
			//@include boldText();
			font-size: 1.06rem;
			line-height: inherit;
		}

		.datum { font-family:'Cabrito Sans W01 Ext Light'; color: $rood; }
	}

	.circle {

		position: absolute;
		left: -.74rem;
		z-index: 99;
		background: #fff;
		color: #fff;
		border-radius: 50px;
		display: inline-block;
		height: 0;
		width: 0;
		padding: 0.5rem;
		text-align: center;
		line-height: 1rem;
		margin-right: 0.5rem;
		font-size: 0.85rem;
		border: 8px solid $purple;

		&.merge {
			border-color: $purple;
		}
		&.remove {
			border-color: $purple;
		}
	}
}


