.onoffswitch {
    position: relative; width: 110px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: .9em; color: white; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Alles";
    padding-left: 10px;
    background-color: $wit; color: $zwart;
}
.onoffswitch-inner:after {
    content: "Actueel";
    padding-right: 20px;
    background-color: $wit; color: $zwart;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 26px; margin: 2px;
    background: $zwart;
    position: absolute; top: 0; bottom: 0;
    right: 80px;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#activity-switch {

    position: absolute;
    right: 2em;
    top: 1.2em;
}
