<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{renderEnv}} - {{body.title}}</title>
    {{> head }}

    <style>

        .clipped_bovenzijde {
            -webkit-clip-path: url(#bovenzijde);
            clip-path: url(#bovenzijde);
        }

        .clipped_onderzijde {
            -webkit-clip-path: url(#onderzijde);
            clip-path: url(#onderzijde);
        }

        .clipped_footer {
            -webkit-clip-path: url(#footer);
            clip-path: url(#footer);
        }
    </style>
</head>
<body class="ambassador werkenbij">

{{> header-wb }}

<article>

    <div id="cover_container">

        <video width="100%" controls poster="https://ucarecdn.com/{{body.ambassador_fields.poster.external_id}}/-/scale_crop/2000x1120/center/{{body.ambassador_fields.poster.filename}} " >
            <source src="https://wijnemenjemee.nl/assets/img/{{body.ambassador_fields.video}}" type="video/mp4">
        </video>

    </div>

    <div class="main_background clipped_bovenzijde">

    </div>

    <div id="post_intro" class="">

        <div>
            <span class="staafje"></span>
            <h1>{{{body.title}}}</h1>
            <span class="functie">{{body.ambassador_fields.functie}}</span>
        </div>


        {{{body.content}}}

    </div>


    {{>sections sections=body.sections }}

    <section id="sharing">
    {{> social-buttons }}
    </section>

</article>

<section class="more-vacancies">
    <a id="more-vacancies-link" href="https://werkenbij.vervoerregio.nl/vacatures">alle vacatures</a>
</section>

<section class="related">

    <h2>Ook iets voor jou?</h2>

    {{> block-ambassador item=body.ambassadors.[0] baseUrl=../baseUrl}}

    {{> block-vacature item=body.related_vacancies.[0] baseUrl=../baseUrl}}

    {{> block-ambassador item=body.ambassadors.[1] baseUrl=../baseUrl}}

    {{> block-vacature item=body.related_vacancies.[1] baseUrl=../baseUrl}}

    {{> block-ambassador item=body.ambassadors.[2] baseUrl=../baseUrl}}

    {{> block-vacature item=body.related_vacancies.[2] baseUrl=../baseUrl}}

</section>




{{> footer-wb }}

{{> clip-paths }}

</body>

{{> footer-scripts}}
</html>
