rect.gantt_item { 

	fill: $purple;
}

rect.gantt_item.geel {

 	fill: $purple;
}

rect.gantt_item.oranje {

 	fill: $purple;
}

text.stationLabel, text.milestoneLabel { 

	//@extend .datum;
	fill: $zwart; 
	font-size: .65em;
}