.months line { stroke: $lichtgrijs; stroke-dasharray: 5;  }
.years line { stroke: $lichtgrijs;  }

.months text {  
	//@extend .datum;
	fill: $zwart;
	font-size: .8rem;
}

.years text {  
	/*@extend .datum;*/
//	font-family: 'Cabrito Sans W01 Norm Bold';
	fill: $zwart;
	font-size: .8rem;
/*	letter-spacing: 0.1em; */
}

.years.bottom text, .months.bottom text { 

	fill: $zwart;
}

path.domain {

	stroke: rgb(220, 220, 220);
	stroke-width: 2px;
}

text.todayLabel { 

	fill: white;
	font-size: .8rem;
//	font-family: 'Cabrito Sans W01 Norm Bold';

 }

@media (max-width: 767px) {

	.months text { display: none; }
}