.tooltip {

  background: white;
  color: black;
  padding: 1rem 3rem 1rem 1rem;
  position: absolute;
  z-index: 9999;
  width: 300px;

  .closebutton {
    position: absolute;
    top: .75rem;
    right: .75rem;

    svg {
      width: 1rem;
      height: auto;
    }
  }

  //@include lightText();
  line-height: 1.5;

  a {
    border-bottom: 1px solid black;
  }

  h3 {

    //@include boldText();
    font-size: 1rem;
  }

  .date {

    //@include lightText();
    //background: $lichtgeel;
    display: inline-block;
    padding: .125rem .25rem;
  }





}