
body.ambassador {


  article {

    grid-template-rows: 56vw auto auto auto auto;

    video {
      width: 100vw;
      height: 56vw;
      object-fit: inherit;
    }

    #post_intro {

      grid-row: 2;
      -ms-grid-row: 2;
      //-ms-grid-row-span: 2;

      padding: 1.5rem 1rem 0 0;

      @media (min-width : $breakpoint-sm) {
        padding-top: 3rem;
      }


      div {

        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 1.5rem;

        .staafje {

          width: .5rem;
          height: 4rem;
          background: $purple;
          border-radius: 10px;
          position: absolute;
          top: 0;
          left: 0;
        }
        h1 {
          margin-bottom: 0;
          @include boldFont();
          color: $purple;
          font-size: 2rem;
          line-height: 1.3;
        }
        .functie {

          display: block;
          @include boldFont();
          font-size: 1.25rem;
        }
      }


    }

    #sharing {
      grid-row: 5;
      -ms-grid-row: 5;
      grid-column: 3 / 5;
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
    }
  }


}

