
.wijnemenjemee main.home_grid {

	@include six-grid();

	position: relative;
	overflow: hidden;
	height: auto;
	width: 100vw;

	padding: 0;

	a {
		display: block;

		@media all and (-ms-high-contrast:none) {
			margin: 1rem;
		}

		@supports (display:-ms-grid) {
			margin: 1rem;
		}
	}

	a.block:nth-of-type(1) {

		grid-column: 2 / span 1;
		grid-row: 2;

		@media (min-width: $breakpoint-md) {
			grid-column: 2 / span 3;
			grid-row: 3;
			-ms-grid-column: 2;
			-ms-grid-column-span: 3;
			-ms-grid-row: 3;
		}

		@media all and (-ms-high-contrast:none) {
			margin: 1rem 1rem 1rem 0;
		}

		@supports (display:-ms-grid) {
			margin: 1rem 1rem 1rem 0;
		}
	}

	a.block:nth-of-type(2) {

		grid-column: 3 / span 1;
		grid-row: 2;

		@media (min-width: $breakpoint-md) {
			grid-column: 5 / span 3;
			grid-row: 3;
			-ms-grid-column: 5;
			-ms-grid-column-span: 3;
			-ms-grid-row: 3;
		}

		@media all and (-ms-high-contrast:none) {
			margin: 1rem 0rem 1rem 1rem;
		}

		@supports (display:-ms-grid) {
			margin: 1rem 0rem 1rem 1rem;
		}
	}

	a:nth-of-type(3) {

		grid-column: 2 / span 1;
		grid-row: 3;

		@media (min-width: $breakpoint-md) {
			grid-column: 2 / span 2;
			grid-row: 4;
			-ms-grid-column: 2;
			-ms-grid-column-span: 2;
			-ms-grid-row: 4;
		}

		@media all and (-ms-high-contrast:none) {
			margin: 1rem 1rem 1rem 0;
		}

		@supports (display:-ms-grid) {
			margin: 1rem 1rem 1rem 0;
		}
	}

	a:nth-of-type(4) {

		grid-column: 3 / span 1;
		grid-row: 3;

		@media (min-width: $breakpoint-md) {
			grid-column: 4 / span 2;
			grid-row: 4;
			-ms-grid-column: 4;
			-ms-grid-column-span: 2;
			-ms-grid-row: 4;
		}
	}

	a:nth-of-type(5) {

		grid-column: 2 / span 1;
		grid-row: 4;

		@media (min-width: $breakpoint-md) {
			grid-column: 6 / span 2;
			grid-row: 4;
			-ms-grid-column: 6;
			-ms-grid-column-span: 2;
			-ms-grid-row: 4;
		}

		@media all and (-ms-high-contrast:none) {
			margin: 1rem 0rem 1rem 1rem;
		}

		@supports (display:-ms-grid) {
			margin: 1rem 0rem 1rem 1;
		}
	}

	a:nth-of-type(6) {

		grid-column: 3 / span 1;
		grid-row: 4;

		@media (min-width: $breakpoint-md) {
			grid-column: 2 / span 2;
			grid-row: 5;
			-ms-grid-column: 2;
			-ms-grid-column-span: 2;
			-ms-grid-row: 5;
		}

		@media all and (-ms-high-contrast:none) {
			margin: 1rem 1rem 1rem 0;
		}

		@supports (display:-ms-grid) {
			margin: 1rem 1rem 1rem 0;
		}
	}

	a:nth-of-type(7) {

		grid-column: 2 / span 1;
		grid-row: 5;

		@media (min-width: $breakpoint-md) {
			grid-column: 4 / span 2;
			grid-row: 5;
			-ms-grid-column: 4;
			-ms-grid-column-span: 2;
			-ms-grid-row: 5;
		}
	}

	a:nth-of-type(8) {

		grid-column: 3 / span 1;
		grid-row: 5;

		@media (min-width: $breakpoint-md) {
			grid-column: 6 / span 2;
			grid-row: 5;
			-ms-grid-column: 6;
			-ms-grid-column-span: 2;
			-ms-grid-row: 5;
		}

		@media all and (-ms-high-contrast:none) {
			margin: 1rem 0rem 1rem 1rem;
		}

		@supports (display:-ms-grid) {
			margin: 1rem 0rem 1rem 1rem;
		}
	}



	a:nth-of-type(12) {

		grid-column: 2 / span 1;
		grid-row: 8;

		@media (min-width: $breakpoint-md) {

			grid-column: 2 / span 2;
			grid-row: 7;
			-ms-grid-column: 2;
			-ms-grid-column-span: 2;
			-ms-grid-row: 7;
		}
	}

	a:nth-of-type(13) {

		grid-column: 3 / span 1;
		grid-row: 8;

		@media (min-width: $breakpoint-md) {
			grid-column: 4 / span 2;
			grid-row: 7;
			-ms-grid-column: 4;
			-ms-grid-column-span: 2;
			-ms-grid-row: 7;
		}
	}

	a:nth-of-type(14) {

		grid-column: 2 / span 1;
		grid-row: 9;

		@media (min-width: $breakpoint-md) {
			grid-column: 2 / span 2;
			grid-row: 8;
			-ms-grid-column: 2;
			-ms-grid-column-span: 2;
			-ms-grid-row: 8;
		}
	}

	a:nth-of-type(15) {

		grid-column: 3 / span 1;
		grid-row: 9;

		@media (min-width: $breakpoint-md) {
			grid-column: 4 / span 2;
			grid-row: 8;
			-ms-grid-column: 4;
			-ms-grid-column-span: 2;
			-ms-grid-row: 8;
		}
	}

	a.more-link {

		grid-column: 1 / span 2;
		grid-row: 10;
		margin: 1rem;

		@media (min-width: $breakpoint-sm) {
			margin: 0 0 0 1rem;
		}

		@media (min-width: $breakpoint-md) {
			grid-column: 2 / span 4;
			grid-row: 9;
			-ms-grid-column: 2;
			-ms-grid-column-span: 4;
			-ms-grid-row: 9;
			margin: 0;
		}
	}
}