main[data-option=news] {

  position: relative;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

  height: 100%;

  @media (min-width: $breakpoint-sm) {
    grid-column: 2 / 4;
    grid-row: 2;
    height: auto;
    width: 100%;

    padding: 0;
    margin: 0;
  }


  @media (min-width: $breakpoint-md) {

    -ms-grid-row:1;
    -ms-grid-column:2;
    -ms-grid-column-span:2;
    grid-column: 2 / 4;
    width: auto;

  }

  @media (min-width: $breakpoint-xl) {

    grid-column: 1 / span 5;
    grid-row: 1 / span 6;
    width: auto;
    @include three-grid();
  }

  @media (min-width: $breakpoint-xxl) {

    //-ms-grid-row:1;
    //-ms-grid-column:2;
    //-ms-grid-column-span:2;

    // since there is no subgrid we just add the same grid down the dom
    grid-column: 1 / span 7;
    grid-row: 1 / 7;
    width: auto;
    @include three-grid();

  }

  .news_wrapper {

    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    width: calc(100vw - 2rem);

    > a.block {
      margin-bottom: 2rem;

      &:nth-child(n+7) {
        display: none;
      }
    }

    @media (min-width: $breakpoint-sm) {
      width: calc(100vw - 4rem);

      > a.block {
        margin-bottom: 0;
      }
    }

    @media (min-width: $breakpoint-md) {
      width: calc(100vw - 2rem);
      display: grid;
      grid-template-columns: repeat(2,24rem);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: $breakpoint-xl) {

      grid-column: 1 / span 5;
      grid-row: 1 / span 6;
      width: auto;
      overflow-y: hidden;
      @include three-grid();


      > a.block {
        &:nth-child(n+7) {
          display: flex;
        }

        &:nth-of-type(1) {
          grid-row: 2;
          grid-column: 2;
        }

        &:nth-of-type(2) {
          grid-row: 2;
          grid-column: 3;
        }

        &:nth-of-type(3) {
          grid-row: 3;
          grid-column: 2;
        }

        &:nth-of-type(4) {
          grid-row: 3;
          grid-column: 3;
        }

        &:nth-of-type(5) {
          grid-row: 4;
          grid-column: 2;
        }

        &:nth-of-type(6) {
          grid-row: 4;
          grid-column: 3;
        }

        &:nth-of-type(7) {
          grid-row: 4;
          grid-column: 4;
        }

        &:nth-child(n+8) {
          display: none;
        }
      }

      a.more-link {
        grid-row: 5;
        grid-column: 2;
      }
    }

    @media (min-width: $breakpoint-xxl) {
      //grid-template-columns: repeat(2,20rem);
      //grid-template-rows: repeat(3, 1fr);
      //grid-gap: 1rem;

      grid-column: 1 / span 7;
      grid-row: 1 / 7;
      width: auto;
      overflow-y: hidden;
      @include three-grid();


      > a.block {

        //@for $c from 0 through 2 {
        //
        //	@for $r from 0 through 1 {
        //
        //		&:nth-of-type(#{1 + $c + ($c * $r)}) {
        //			grid-row: #{$r + 3};
        //			grid-column: #{$c + 2};
        //		}
        //	}
        //
        //}

        &:nth-child(n+7) {
          display: flex;
        }

        &:nth-of-type(1) {
          grid-row: 2;
          grid-column: 2;
        }

        &:nth-of-type(2) {
          grid-row: 2;
          grid-column: 3;
        }

        &:nth-of-type(3) {
          grid-row: 2;
          grid-column: 4;
        }

        &:nth-of-type(4) {
          grid-row: 2;
          grid-column: 5;
        }

        &:nth-of-type(5) {
          grid-row: 2;
          grid-column: 6;
        }

        //&:nth-of-type(6) {
        //	grid-row: 2;
        //	grid-column: 7;
        //}

        &:nth-of-type(6) {
          grid-row: 3;
          grid-column: 2;
        }

        //&:nth-of-type(7) {
        //	grid-row: 3;
        //	grid-column: 3;
        //}

        &:nth-of-type(7) {
          grid-row: 4;
          grid-column: 2;
        }

        //&:nth-of-type(10) {
        //	grid-row: 4;
        //	grid-column: 3;
        //}

        &:nth-of-type(8) {
          grid-row: 6;
          grid-column: 2;
        }

        &:nth-of-type(9) {
          grid-row: 6;
          grid-column: 3;
        }

        &:nth-of-type(10) {
          grid-row: 6;
          grid-column: 4;
        }

        &:nth-of-type(11) {
          grid-row: 6;
          grid-column: 5;
        }

        &:nth-of-type(12) {
          grid-row: 6;
          grid-column: 6;
        }

        &:nth-child(n+13) {
          display: none;
        }
      }

      a.more-link {
        grid-row: 5;
        grid-column: 2;
      }
    }

    //@for $i from 0 through 20 {
    //	> a:nth-of-type(#{$i}) {
    //		order: $i;
    //	}
    //}

  }

  //#featured-post {
  //
  //	position: relative;
  //	left: 0;
  //	top: 0;
  //	width: calc(100% - 2rem);
  //	margin-bottom: 1rem;
  //	padding: 1rem;
  //	z-index: 1;
  //
  //	svg defs clipPath  {
  //			display: none;
  //	}
  //	//background: $geel;
  //
  //	@media (min-width : $breakpoint-sm) {
  //		display: none;
  //
  //	}
  //}

  a.block  {

    width: 100%;

    @media (min-width : $breakpoint-sm) {
      width: auto;
    }
  }
}


//aside {
//	position: relative;
//	flex-direction: column;
//	justify-content: flex-start;
//	align-items: flex-start;
//	overflow: hidden;
//	min-height: calc(100vh - 4rem);
//	width: 100vw;
//
//
//
//	@media (min-width : $breakpoint-md ) {
//		height: calc(100% - 9.5rem);
//		//padding-top: 1rem;
//		-ms-grid-row: 2;
//		-ms-grid-column:4;
//		-ms-grid-column-span:1;
//		grid-column: 4/5;
//		grid-row: 2;
//		padding-top: 5rem;
//		padding-bottom: 1rem;
//		background: $lichtgrijs;
//	}
//
//	@media (min-width: $breakpoint-xl) {
//
//		grid-row: 2 / span 2;
//		min-height: 0;
//		height: calc(100% - 1rem);
//		padding-top: 1rem;
//		padding-bottom: 0;
//	}
//
//	@media (min-width : $breakpoint-xxl ) {
//
//		grid-column: 3;
//		grid-row: 3 / span 3;
//	}
//
//	.aside_wrapper {
//		position: absolute;
//		z-index: 10;
//		overflow-y: auto;
//		-webkit-overflow-scrolling: touch;
//		background: #fff;
//		height: calc(100% - 4rem);
//		width: calc(100% - 2rem);
//		padding: 0 1rem;
//
//
//	//	width: calc(100% - 2rem);
//
//		@media (min-width : $breakpoint-sm ) {
//			padding: 1rem;
//			opacity: 0;
//		}
//
//		@media (min-width : $breakpoint-md ) {
//
//			width: calc(100% - 4rem);
//			margin-left: 1rem;
//			margin-top: 4rem;
//			height: calc(100% - 11rem);
//		}
//
//		@media (min-width : $breakpoint-xl ) {
//
//		}
//
//		@media (min-width : $breakpoint-xxl ) {
//			height: calc(100% - 7rem);
//			transform: translateX(0px);
//			opacity: 1;
//		}
//
//	}
//
//	a.more-link {
//
//
//		@media (min-width : $breakpoint-sm ) {
//
//			position: absolute;
//			bottom: 1rem;
//			left: 1rem;
//			background: white;
//			right: 1rem;
//		}
//
//		@media (min-width : $breakpoint-xxl ) {
//			bottom: 0;
//
//		}
//	}
//}
//
//
//aside#tweets {
//
//	@media (min-width : $breakpoint-xxl) {
//
//		grid-column: 4;
//		grid-row: 3 / span 3;
//
//		.aside_wrapper {
//			opacity: 1;
//			transform: translateX(0);
//		}
//	}
//}
//
//aside#youtube {
//
//	@media (min-width : $breakpoint-xxl) {
//
//		grid-column: 5;
//		grid-row: 3 / span 3;
//
//		.aside_wrapper {
//			opacity: 1;
//			transform: translateX(0);
//		}
//	}
//}
//
//aside#instagram {
//
//	@media (min-width : $breakpoint-xxl) {
//
//		grid-column: 6;
//		grid-row: 3 / span 3;
//
//		.aside_wrapper {
//			opacity: 1;
//			transform: translateX(0);
//		}
//	}
//}

.theme-grid {

  margin-top: 2rem;
  display:-ms-grid;
  display: none;
  -ms-grid-columns: auto 38rem 38rem auto;
  grid-template-columns: auto 37rem 37rem auto;
  grid-gap: 1rem 2rem;
  grid-template-rows: auto auto auto;
  height: auto;

  @media (min-width : $breakpoint-sm) {

    display: grid;
  }

  @media (min-width : $breakpoint-xl) {

    grid-template-columns: auto repeat(2, 42.5rem) auto;
  }

  @media (min-width : $breakpoint-xxl) {

    grid-template-columns: auto 53.5rem 53.5rem auto;
  }

  > * {
    width: auto;

    &:nth-of-type(1) {
      grid-column : 2;
      grid-row : 1;
    }

    &:nth-of-type(2) {
      grid-column : 3;
      grid-row : 1;
    }

    &:nth-of-type(3) {
      grid-column : 2;
      grid-row : 2;
    }

    &:nth-of-type(4) {
      grid-column : 3;
      grid-row : 2;
    }

    &:nth-of-type(5) {
      grid-column : 2;
      grid-row : 3;
    }

    //@for $i from 0 through 4 {
    //
    //	&:nth-of-type(#{$i}) {
    //
    //
    //	}
    //
    //}
  }
}


//div[data-option=map] {
//	width : 100vw;
//
//	@media (min-width : $breakpoint-sm) {
//		width: auto;
//		-ms-grid-row:2;
//		-ms-grid-column:1;
//		-ms-grid-column-span:5;
//		grid-column: 1/6;
//		grid-row: 2/3;
//	}
//
//	@media (min-width : $breakpoint-xxl) {
//		width: auto;
//		-ms-grid-row:2;
//		-ms-grid-column:1;
//		-ms-grid-column-span:7;
//		grid-column: 1/8;
//		grid-row: 2/3;
//	}
//
//	#map-container {
//
//		width: 100%;
//		height: calc(100vh - 4rem);
//
//		@media (min-width : $breakpoint-md) {
//			width: auto;
//			height: 400px;
//		}
//	}
//
//}
//
//#more-comments-link {
//	display: block;
//}


