.home.werkenbij {


  .home_block {
    width: 100%;
    margin-top: -1.5rem;


    @media (min-width: $breakpoint-sm) {

      margin-top: -2rem;
    }

    @media (min-width: $breakpoint-md) {

      margin-top: 0rem;
    }
  }


  .home_grid {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: white;

    @media (min-width: $breakpoint-md) {
      @include three-grid();
      grid-template-rows: 70vh auto auto auto auto;
      -ms-grid-rows: 70vh auto auto auto auto;
      background: white;
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-rows: 75vh auto auto auto auto;
      -ms-grid-rows: 75vh auto auto auto auto;
    }

    #hero-background {

      display: none;

      @media (min-width: $breakpoint-md) {
        display: block;
        grid-column: 1 / span 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 1;
        grid-row: 1;
        //background: $lichtgrijs;
        margin-bottom: -2rem;
        width: auto;
      }


    }

    #hero-video {

      background: $middelgrijs;
      @include center();
      height: 100vw;
      position: relative;
      z-index: 99;

      video {
        height: 100%;
        width: auto;

        @media (min-width: $breakpoint-sm) {
          height: auto;
          width: 100%;
        }

      }

      @media (min-width: $breakpoint-sm) {
        height: 57vw;
      }

      @media (min-width: $breakpoint-md) {

        grid-column: 1 / span 5;
        grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 1;
        width: 100%;
        height: auto;
        margin-bottom: -2rem;

      }
    }

    .vacancies {

      position: relative;
      padding: 1.5rem 0;
      background: white;
      position: relative;
      z-index: 100;

      @media (min-width: $breakpoint-sm) {

        margin-top: -4rem;
        padding-top: 6rem;


      }

      @media (min-width: $breakpoint-md) {

        @include three-grid();
        grid-column: 1 / span 5;
        grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 2;
        padding: 4rem 0 2rem 0;
        margin: 0;

        @media all and (-ms-high-contrast:none) {
          padding: 8rem 0;
        }
      }


      @media (min-width: $breakpoint-lg) {
        grid-template-rows: auto;
        grid-gap: 0 2rem;
        //background: $lichtgrijs;
      }


      @media (min-width: $breakpoint-xl) {
        grid-template-rows: auto;
        grid-gap: 0 2rem;
      }

      div.punch {

        position: relative;

        @media (min-width: $breakpoint-md) {
          grid-column: 2 / span 3;
          -ms-grid-column: 2;
          -ms-grid-column-span: 3;
        }

        h1 {

          margin: 0 0 0 2rem;
          line-height: 1.25;
          font-size: 1.4rem;
          padding: 4px 0;
          color: $purple;
          @include boldFont();

          @media (min-width: $breakpoint-sm) {
            font-size: 2rem;
            margin: 0 8.5rem;
          }


          @media (min-width: $breakpoint-md) {
            margin: 0;
            padding: 0;
            font-size: 2rem;
            top: -1.5rem;
            position: absolute;
            left: 0rem;

            // edge has no clip path on the video above
            @supports (-ms-ime-align: auto) {
              top: -2.5rem;
            }
          }

          @media (min-width: $breakpoint-lg) {
            top: -2.5rem;
          }

          @media (min-width: $breakpoint-xl) {
            top: -3.5rem;
          }
        }

      }



      > a.block {

        min-height: 12rem;
        margin: 2rem;

        @media (min-width: $breakpoint-sm) {
          margin: 2rem 8.5rem;
        }

        @media (min-width: $breakpoint-md) {
          margin: 1.5rem 0 0 0;

          @media all and (-ms-high-contrast:none) {
            margin-right: 2rem;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        &:nth-of-type(1) {
          grid-column: 2;
          -ms-grid-column: 2;
        }
        &:nth-of-type(2) {
          grid-column: 3;
          -ms-grid-column: 3;
        }

        &:nth-of-type(3) {
          grid-column: 4;
          -ms-grid-column: 4;
        }

        svg {

            fill: $lichtgrijs;
        }
      }
    }

    #more-vacancies-link {
      position: relative;
      z-index: 120;
      grid-column: 2;
      -ms-grid-column: 2;
      grid-row: 3;
      -ms-grid-row: 3;
      margin-top: -2rem;
      display: inline;
      line-height: 1;
      height: 2.75rem;
      width: auto;
      max-width: 220px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      text-decoration: none;
      background: linear-gradient(135deg, #e30059 0%,#b9005f 100%);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      transition: all 250ms ease;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
        margin-left: 1rem;
        transform: rotate(45deg);
        transition: all 250ms ease;
        fill: white;
      }

      span {

        //border-bottom: 2px solid $purple;
        @include boldFont();
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: white;

        //width: 80px;

        @media (min-width: $breakpoint-sm) {
          //width: 130px;
        }

        @media (min-width: $breakpoint-lg) {
          //width: 145px;
        }
      }




      @media (max-width: $breakpoint-md) {
        margin-top: 1rem;
        margin-left: 8.5rem;

      }

      @media (max-width: $breakpoint-sm) {
        margin-top: 0;
        margin-left: 2rem;
        width: 140px;
        height: 5rem;
      }

      &:hover {

        background: #e30059;

        svg {

          transform: rotate(135deg);
        }


      }

    }

    .large-block  {

      position: relative;
      @include center();

      height: 100vw;
      background: white;
      margin: 1rem 0;
      overflow: hidden;

      @media (min-width: $breakpoint-sm) {
        height: 66vw;
      }

      @media (min-width: $breakpoint-md) {
        grid-column: 2 / span 2;
        grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
        height: 20rem;
        background: $lichtgrijs;
        margin: 0;

        @media all and (-ms-high-contrast:none) {
          margin: 2rem 2rem 0 0;
        }
      }

      @media (min-width: $breakpoint-lg) {
        height: 24rem;
      }

      @media (min-width: $breakpoint-xl) {
        height: 28rem;
      }

      > img {

        width: 100%;
        height: auto;
        transform: scale(1.5);


        @media (min-width: $breakpoint-md) {
          transform: scale(1.25);
        }
      }

      > .gradient {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 75%, rgba(0,0,0,1) 100%);
      }

      > .overlay {

        position: absolute;
        right: 1rem;
        bottom: 1rem;
        color: white;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (min-width: $breakpoint-md) {
          right: 0rem;
          bottom: .5rem;
          padding: .5rem 1.5rem;
        }

        @media (min-width: $breakpoint-lg) {
          right: 1.5rem;
          bottom: 1.5rem;
          width: 80%;
        }

        h2 {
          margin: 0;
          padding: 0;
          font-size: 2rem;
          line-height: 1.25;
        }

        span {
          display: block;
          max-width: 80%;
          text-align: right;

          @media (min-width: $breakpoint-lg) {
            max-width: 40%;
            @media all and (-ms-high-contrast:none) {
              max-width: 60%;
            }
          }

          svg {
            transform: rotate(90deg);
            height: .5rem;
            fill: white;
            width: auto;

            @media all and (-ms-high-contrast:none) {
              width: 1rem;
            }
          }
        }
      }

      &.starters {

        grid-column: 3 / span 2;
        grid-row: 4;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 4;

        > img {
          width: 100%;
          height: auto;
          transform: scale(1.5);
          align-self: flex-start;
        }

        @media all and (-ms-high-contrast:none) {
          margin-left: 2rem;
          margin-right: 0rem;
        }
      }

      &.conditions {

        grid-column: 2 / span 2;
        grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;

        > img {
          width: 100%;
          height: auto;
          transform: scale(1.6);
        }
      }
    }




      //&.first {
      //
      //  > .overlay {
      //
      //    align-items: flex-start;
      //
      //    span {
      //      text-align: left;
      //    }
      //  }
      //}

  .block.ambassador {

      @media (min-width: $breakpoint-sm) {
        height: 66vw;
        margin: 5rem 8rem;
      }

      @media (min-width: $breakpoint-md) {
        grid-column: 4 / span 1;
        grid-row: 3;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
        height: 20rem;
        margin: 0;

        @media all and (-ms-high-contrast: none) {
          margin: 2rem 0rem 0 0;
        }
      }

      @media (min-width: $breakpoint-lg) {
        height: 24rem;
      }

      @media (min-width: $breakpoint-xl) {
        height: 28rem;
      }


      &.second {

        grid-column: 2 / span 1;
        grid-row: 4;
        -ms-grid-column: 2;
        -ms-grid-row: 4;

      }

      &.third {
        grid-row: 5;
        -ms-grid-row: 5;
      }
    }
  }
}