.page.werkenbij {


  article {

    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;

    @media (min-width : $breakpoint-md) {

      display: grid;
      display: -ms-grid;
      grid-template-rows: 66vw auto auto auto auto;
      -ms-grid-rows: 66vw auto auto auto auto;
      margin-top: 0;
    }

    @media (min-width : $breakpoint-lg) {

      display: grid;
      display: -ms-grid;
      grid-template-rows: 66vh auto auto auto auto;
      -ms-grid-rows: 66vh auto auto auto auto;
      margin-top: 0;
    }

    #cover_container {

      display: flex;
      position: relative;
      z-index: 2;
      background: $donkergrijs;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100vw;
      min-height: 0px;

      @media (min-width : $breakpoint-sm) {
        height: calc(100vh - 6rem);
      }

      @media (min-width : 700px) {
        height: calc(66vw - 0rem);
      }

      @media (min-width : $breakpoint-md) {
        grid-column: 1/7;
        grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        -ms-grid-row: 1;
        height: auto;
        max-height: 100%;
      }

      .img-container {

        @include center();
      }

      > .gradient {

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 75%, rgba(0, 0, 0, .6) 100%);
      }
      //overflow: hidden;
    }

    h1 {
      color: white;
      font-size: 2rem;
      line-height: 1;
      position: relative;
      z-index: 999;
      margin: -3.5rem 0 3rem 2rem;

      @media (min-width : $breakpoint-md) {

        font-size: 2.8rem;
        margin: 0 0 2.5rem 0;

        align-self: flex-end;
        grid-column: 2 / span 2;
        grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 1;

        @media all and (-ms-high-contrast:none) {
          margin-top: 56vh;
        }
      }
    }


    .main_background.clipped_bovenzijde {

      display: none;

      margin-top: -5.5rem;
      background: white;
      position: relative;
      height: 40vw;
      z-index: 9;

      @media (min-width : $breakpoint-md) {
        display: block;
        grid-column: 1/7;
        grid-row: 2/5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        -ms-grid-row: 2;
        -ms-grid-row-span: 3;
      }

      @media all and (-ms-high-contrast:none) {
        display: none;
      }

    }



    #post_intro {

      padding: 0 2em;

      @media all and (-ms-high-contrast:none) {
        min-height: 200px;
      }

      p:first-of-type {

        font-family: 'Avenir LT W01_85 Heavy1475544',arial,sans-serif;
        font-size: 18px;
        line-height: 26px;
      }


      @media (min-width : $breakpoint-md) {
        grid-column: 3/5;
        grid-row: 2/3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 2;
        padding: 3rem 0 1rem 0;
      }


      h1 {
        color: $purple;
        font-size: 2rem;
        line-height: 1.1;
        margin: 0 0 1rem 0;

        @media (min-width : $breakpoint-md) {
          font-size: 2.8rem;
        }
      }


    }

    section {

      @include bullets();
      margin: 0 0 1.5rem 0;
      padding: 0 2rem;

      @media (min-width : $breakpoint-md) {
        grid-column: 3/5;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        padding: 0;
      }

      @for $i from 1 through 9 {

        &:nth-of-type(#{$i}) {
          grid-row: calc(#{$i} + 2);
          -ms-grid-row: calc(#{$i} + 3);
        }
      }


      p:last-child{

        margin-bottom: 0;
      }

      h2 {
        color: black; // $purple;
        margin: 0;
        padding: 2px 0 10px 2px;
      }


      &.quote {


        align-items: flex-end;
        margin: 2rem 0;
        padding-right: 2rem;

        @media (min-width : $breakpoint-md) {
          margin: 3rem 0 2rem 0;
          grid-column: 3/6;
        }

        .quote_text {
          color: $purple;
          text-align: right;
          font-size: 2rem;
          line-height: 1;

          @media (min-width : $breakpoint-md) {
            font-size: 2.8rem;
            line-height: 1.2;
          }
        }

        .quote_author {
          color: $purple;
          text-align: right;
        }
      }

      &.images {

        padding: 0rem;
        @media (min-width : $breakpoint-md) {
          grid-column: 1/7;
        }

        .images-caption .caption {
          padding: 2rem 2rem 3rem 2rem;
        }
      }

      &.images.small {

        .images-image {
          @media (min-width : $breakpoint-md) {
            grid-column: 4 / span 2;
          }
        }


      }
    }



  }
}