.search-snippet  {

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-decoration: none;
  margin-bottom: 2rem;
  min-height: 5rem;
  border:none;
  //opacity: 0;
  //transition: opacity 500ms ease;

  div.image-container {

    width : 7rem;
    margin-right: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 112px;
    @media (max-width: $breakpoint-md) { // max 760{
      width: 3.5rem;
      margin-right: 1rem;

      div.img-container {
        height: 3.5rem;
      }
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none !important;
    }
  }

  div.card-text {

    width : calc(100% - 9.5rem);
    cursor: pointer;
    margin-top: -.5rem;
    @media (max-width: $breakpoint-md) { // max 760{
      width: calc(100% - 2.5rem - 1rem);
      .smallerfont {
        line-height: 1.5;
      }
    }
  }

  .datetime {
    color: $donkergrijs;
    display: inline-block;
    font-size: .875rem;
  }

  .search-excerpt b {
    color: $magenta;
  }

  .indicator {

    font-size: .875rem;
    display: inline-block;
    text-transform: uppercase;
  }

  h3 {

    cursor: pointer;
    margin: 0 0 .2rem 0;
    font-size: 1.33rem;
    line-height: 1.33;

    @media (max-width: $breakpoint-sm) {
      font-size: 1.125rem;
      line-height: 1.33;
      //padding: 2px 0;
    }
  }

  .search-excerpt {
    font-size: 1.125rem;
    line-height: 1.55;
  }

  a { text-decoration: none; border: none; }
  a:hover { background: none; }

  .document-taglist {

    padding: 0;
    margin: 0;
    list-style: none;

    li {

      @include compactText();
      text-transform: lowercase;
      display: inline-block;
      margin-right: .5rem;
      background: $lichtgrijs;
      padding: 0 5px;
      border-radius: 5px;
    }
  }

  .smallerfont {
    display: block;
    margin: 4px 0;

  }

  .reply-count {
    font-size: .875rem;
    line-height: 1.55;
    display: inline-block;
    background: $lichtgrijs;
    padding: 0 5px;
  }


}

a.search-snippet:hover {

  background: transparent;
}
