body.theme  main {

  width: 100%;
  display: grid;
  display: -ms-grid;
  @include six-grid();

  @media (min-width: $breakpoint-xl) {
    grid-template-rows: 50vh auto auto auto auto;
    -ms-grid-rows: 50vh auto auto auto auto;
  }


  grid-gap: 0;


  #cover_container {

    grid-column: 2/ span 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;

    position: relative;
    z-index: 2;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 38vh;

    @media (min-width: $breakpoint-sm) {
      height: 40vh;
    }

    @media (min-width: $breakpoint-md) {
      grid-column: 2/ span 6;
      -ms-grid-column-span: 6;
      height: 50vh;
    }



    > .img-container {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    > .gradient {

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 75%, rgba(0, 0, 0, .6) 100%);

    }

  }

  #theme_intro {

    display: none;
    grid-column: 2 / span 3;
    grid-row: 1;
    position: relative;
    z-index: 2;
    align-self: flex-end;
    //margin-bottom: 1rem;
    padding: 1rem;

    @media (min-width: $breakpoint-sm) {

      display: block;
      padding: 1.5rem;
    }

      span {
        font-family: 'Avenir LT W01_85 Heavy1475544',arial,sans-serif;
        font-size: 1.66rem;
        line-height: 1;
        color: $purple;
      }

      h1 {

        position: relative;
        font-family: 'Avenir LT W01_85 Heavy1475544',arial,sans-serif;
        font-size: 1.66rem;
        line-height: 1;
        color: white;
        margin: .3rem 0 0 0;
      }
  }

    div.block {

      grid-column: 2 / span 2;
      grid-row: 2;
      background: $lichtgrijs;
      padding: 1.5rem;

      h2 {
        margin: 0 0 .5rem 0;
      }

      p {
        margin-bottom: 0;
      }

      @media (min-width : $breakpoint-md) {
        grid-column: 2 / span 3;
        grid-row: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        -ms-grid-row: 2;
      }

      @media all and (-ms-high-contrast:none) {
        margin: 1rem 1rem 1rem 0;
      }
    }

    a {
      @media all and (-ms-high-contrast:none) {
        display: block;
        margin: 1rem 1rem 1rem 1rem;
      }
    }

    a.block:nth-of-type(1) {

      grid-column: 2 / span 2;
      grid-row: 3;

      @media (min-width : $breakpoint-md) {
        grid-column: 5 / span 3;
        grid-row: 2;
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
        -ms-grid-row: 2;
      }

      @media all and (-ms-high-contrast:none) {
        margin: 1rem 0rem 1rem 1rem;
      }
    }

    a:nth-of-type(2) {

      grid-column: 2 / span 1;
      grid-row: 4;

      @media (min-width: $breakpoint-md) {
        grid-column: 2 / span 2;
        grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
      }

      @media all and (-ms-high-contrast:none) {
        margin: 1rem 1rem 1rem 0rem;
      }
    }

    a:nth-of-type(3) {

      grid-column: 3 / span 1;
      grid-row: 4;

      @media (min-width : $breakpoint-md) {
        grid-column: 4 / span 2;
        grid-row: 3;
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
      }


    }

    a:nth-of-type(4) {

      grid-column: 2 / span 1;
      grid-row: 5;

      @media (min-width : $breakpoint-md) {
        grid-column: 6 / span 2;
        grid-row: 3;
        -ms-grid-column: 6;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
      }

      @media all and (-ms-high-contrast:none) {
        margin: 1rem 0rem 1rem 1rem;
      }
    }

    a:nth-of-type(5) {

      grid-column: 3 / span 1;
      grid-row: 4;

      @media (min-width : $breakpoint-md) {
        grid-column: 2 / span 2;
        grid-row: 4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 4;
      }
    }

    a:nth-of-type(6) {

      grid-column: 2 / span 1;
      grid-row: 6;

      @media (min-width : $breakpoint-md) {
        grid-column: 4 / span 2;
        grid-row: 5;
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
      }
    }

    a:nth-of-type(7) {

      grid-column: 3 / span 1;
      grid-row: 6;

      @media (min-width : $breakpoint-md) {
        grid-column: 6 / span 2;
        grid-row: 5;
        -ms-grid-column: 6;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
      }
    }

    a:nth-of-type(8) {

      grid-column: 3 / span 1;
      grid-row: 6;

      @media (min-width : $breakpoint-md) {
        grid-column: 2 / span 2;
        grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
      }
    }

    a:nth-of-type(9) {

      grid-column: 3 / span 1;
      grid-row: 6;

      @media (min-width : $breakpoint-md) {
        grid-column: 6 / span 2;
        grid-row: 5;
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
      }
    }

    a:nth-of-type(10) {

      grid-column: 3 / span 1;
      grid-row: 6;

      @media (min-width : $breakpoint-md) {
        grid-column: 6 / span 2;
        grid-row: 5;
        -ms-grid-column: 6;
        -ms-grid-column-span: 2;
        -ms-grid-row: 5;
      }
    }

    a.more-link {
      max-height: 3rem;
    }



  //
  //.block {
  //
  //  grid-row: 3;
  //  grid-column: 2;
  //
  //  &:nth-of-type(2) {
  //    grid-row: 3;
  //    grid-column: 3;
  //  }
  //
  //  &:nth-of-type(3) {
  //    grid-row: 4;
  //    grid-column: 2;
  //  }
  //
  //  &:nth-of-type(4) {
  //    grid-row: 4;
  //    grid-column: 3;
  //  }
  //}

  .more-link {

    grid-row: 5;
    grid-column: 2 / span 2;
  }

  footer {

    grid-column: 1/span 8;

    @media( min-width : $breakpoint-md) {
      margin-top: 0;
    }
  }

}