.vacature {


  article {

    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;

    @media (min-width : $breakpoint-md) {

      display: grid;
      display: -ms-grid;
      grid-template-rows: 50vh auto auto auto auto;
      -ms-grid-rows: 50vh auto auto auto auto;
      margin-top: 0;
    }



    #cover_container {

      display: flex;
      position: relative;
      z-index: 2;
      background: $donkergrijs;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      height: 50vh;
      min-height: 0px;

      .img-container {

        @include center();
      }


      @media (min-width : $breakpoint-md) {
        grid-column: 1/7;
        grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        -ms-grid-row: 1;
        height: auto;
        max-height: 100%;

      }


      //overflow: hidden;
    }



    #post_intro {

      padding: 1.5rem 1rem 0 1rem;

      //@media (min-width : $breakpoint-sm) {
      //  padding: 0 1rem;
      //}


      @media (min-width : $breakpoint-md) {
        grid-column: 3/5;
        grid-row: 2/3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 2;
        padding: 3rem 0 1rem 0;
      }

      h1 {
        color: $purple;
      }
    }

    .vacature_parameters {


      flex-direction: column;


    }

    .timeline {


      display: none;
      flex-direction: column;
      align-items: center;
      position: relative;
      height: 230px;

      @media (min-width : $breakpoint-lg) {
        display: flex;
      }

      @media (min-width : $breakpoint-lg) {
        padding-top: 6.6rem;
        grid-column: 5 / span 1;
        grid-row: 2;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        height: auto;
      }

        .timeline-container {

          position: relative;
          height: calc(100vw - 2rem);
          width: 100%;
          transform: rotate(-90deg) translateX(100px);
          margin-left: 1rem;

          @media (min-width : $breakpoint-lg) {
            transform: rotate(-90deg) translateX(-500px);
          }


          @media (min-width : $breakpoint-lg) {
            position: absolute;
            height: 500px;
            transform: none;
          }
          //border-left: 1px solid black;
          //border-right: 1px solid black;
        }
    }

    section {


      @include bullets();
      margin: 0 0 1.5rem 0;
      padding: 0 1rem;

      @media (min-width : $breakpoint-md) {
        grid-column: 3/5;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        padding: 0;
      }

      @for $i from 1 through 9 {

        &:nth-of-type(#{$i}) {
          -ms-grid-row: calc(#{$i} + 3);
        }
      }


      p:last-child{

        margin-bottom: 0;
      }

      h2 {
        color: black; // $purple;
        margin: 0;
        padding: 2px 0 10px 2px;
      }

      .contact {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.5rem auto;


        @media (min-width : $breakpoint-md) {

          grid-column: 2 / span 1;
          grid-row: 1;
          -ms-grid-column: 2;
          -ms-grid-column-span: 1;
          -ms-grid-row: 1;
          padding-right: 3rem;
          margin: 0;
        }

        .contact_header {
            text-align: center;

        }

        img {
          height: 9rem;
          width: 9rem;
          background: $middelgrijs;
          border-radius: 50%;
          margin: .5rem auto;
        }

        .contact_name, contact_phone, .contact_email{
          display: block;
        }

        .contact_name {
          @include boldFont();
          text-align: center;

        }



      }


      &:first-of-type {

        //@include boldFont();
        //font-size: 1.125rem;
      }

      &.team {

        display: flex;
        flex-direction: column-reverse;
        position: relative;

        @media (min-width : $breakpoint-md) {

          grid-column: 1 / span 6;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          padding: 0 0 1.5rem 0;
          @include four-grid();
        }


        svg {

          display: none;
          fill: $lichtgrijs;

          @media (min-width : $breakpoint-md) {
            display: block;
            grid-column: 3/5;
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            position: relative;
            width: calc(100% + 4rem);
          //  height: 100%;
            margin-left: -4rem;
            grid-row: 1;
          }
        }

        .team_text {

          position: relative;

          display: flex;
          flex-direction: column;
          justify-content: center;

          background: $lichtgrijs;
          padding: 1rem;


          @media (min-width : $breakpoint-md) {
            background: transparent;
            padding: 0rem;
          }

          @media (min-width : $breakpoint-md) {
            grid-column: 3/5;
            grid-row: 1;
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            padding: 2rem;
          }

        }
      }

      &.hrm {


        display: flex;
        flex-direction: column-reverse;
        position: relative;

        @media (min-width : $breakpoint-md) {

          grid-column: 1 / span 6;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          padding: 0 0 1.5rem 0;
          @include four-grid();
        }


        h2 {

          margin-bottom: .5rem;
          position: relative;

          @media (min-width : $breakpoint-md) {

            grid-column: 3 / span 2;
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            grid-row: 1;
            -ms-grid-row: 1;

          }
        }

        .contact {

          @media (min-width : $breakpoint-md) {
            grid-row: 2;
            -ms-grid-row: 2;
          }
        }

        svg {

          display: none;

          @media (min-width : $breakpoint-md) {
            display: block;
            grid-column: 3/5;
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            position: relative;
            width: calc(100% + 4rem);
            //height: 100%;
            margin-left: -4rem;
            fill: $lichtgrijs;
            grid-row: 2;
            -ms-grid-row: 2;
          }
        }

        .hrm_text {

          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;

          background: $lichtgrijs;
          padding: 1rem;


          @media (min-width : $breakpoint-md) {
            background: transparent;
            padding: 0rem;
          }

          @media (min-width : $breakpoint-md) {
            grid-column: 3/5;
            grid-row: 2;
            -ms-grid-column: 3;
            -ms-grid-column-span: 2;
            -ms-grid-row: 2;
            padding: 2rem;

          }
        }

      }
    }
  }
}

