.vacatures {

	article {

		display: flex;
		flex-direction: column;
		margin-top: -1.5rem;

		@media (min-width: $breakpoint-md) {

			display: grid;
			display: -ms-grid;
			grid-template-rows: 50vh auto auto auto auto;
			-ms-grid-rows: 50vh auto auto auto auto;
			margin-top: 0;
		}

		#cover_container {

			display: flex;
			position: relative;
			z-index: 2;
			background: $donkergrijs;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: white;
			height: 50vh;
			min-height: 0px;

			.img-container {

				@include center();
			}

			@media (min-width: $breakpoint-md) {
				grid-column: 1/7;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-column-span: 6;
				-ms-grid-row: 1;
				height: auto;
				max-height: 100%;

			}
		}

		.main_background.clipped_bovenzijde {

			display: none;

			margin-top: -5.5rem;
			background: white;
			position: relative;
			height: 40vw;
			z-index: 9;

			@media (min-width : $breakpoint-md) {
				display: block;
				grid-column: 1/7;
				grid-row: 2/5;
				-ms-grid-column: 1;
				-ms-grid-column-span: 6;
				-ms-grid-row: 2;
				-ms-grid-row-span: 3;
			}

		}

		#intro {

			padding: 0 1em;
			position: relative;
			z-index: 99;

			@media (min-width: $breakpoint-sm) {
				margin: 2rem 8rem;
			}

			@media (min-width: $breakpoint-md) {
				grid-column: 3/5;
				grid-row: 2;
				-ms-grid-column: 3;
				-ms-grid-column-span: 2;
				-ms-grid-row: 2;
				padding: 3rem 0 1rem 0;
				margin:0;
			}

			h1 {
				color: $purple;

				@media (max-width: $breakpoint-md) {
					margin-top: 1.5rem;
				}
			}

			#search-form {

				margin-bottom: 1rem;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;

				input {
					width: calc(100% - 4rem);
					border: 1px solid $lichtgrijs;
					border-top-left-radius: 12px;
					border-bottom-left-radius: 12px;
					padding: .5rem;
				}

				button {

					border-top-right-radius: 12px;
					border-bottom-right-radius: 12px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: $purple;
					@include vra_gradient();

					svg {
						stroke: white;
					}
				}
			}
		}

		#archived-content {

			position: relative;
			z-index: 100;

			@media (min-width: $breakpoint-md) {

				grid-column: 2/6;
				grid-row: 3;
				-ms-grid-column: 2;
				-ms-grid-column-span: 4;
				-ms-grid-row: 3;
				padding: 1rem 0 1rem 0;
			}

			#search-content-container {

				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: flex-start;


				@media (min-width: $breakpoint-sm) {

					> * {
						margin: 2rem 8.5rem;
					}
				}

				@media (min-width: $breakpoint-md) {

					flex-direction: row;

					> * {

						width: calc(33% - 1.4rem);
						margin: 0 2rem 2rem 0;

						&:nth-of-type(3n) {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.vacatures a.block.vacature {

	svg {
		fill: #e8e8e8;
	}
}
