.werkenbij article {

  width: 100%;
  display: grid;
  display: -ms-grid;
  @include four-grid();
  grid-template-rows: 50vh auto auto auto auto;
  -ms-grid-rows: 50vh auto auto auto auto;
  grid-gap: 0;

  #cover_container {

    grid-column: 1/8;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    background: white;
    height: auto;
    max-height: 100%;
    //min-height: 800px;
    overflow: hidden;
  }

  //#intro-background {
  //
  //  grid-column: 1/5;
  //  grid-row: 2;
  //  -ms-grid-column: 1;
  //  -ms-grid-column-span: 4;
  //  -ms-grid-row: 2;
  //  width: auto;
  //  background: white;
  //  position: relative;
  //  z-index: 3;
  //}

  #post_info  {

    grid-column: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    position: relative;
    z-index: 9;
    width: auto;
    padding: 0;
    margin-bottom: 3rem;

    h1 {
      color: $purple;
      @include boldFont();
      padding: .25rem 0;
      margin: 0;
      font-size: 2rem;
      line-height: 1.15;

    }

    .authors {

      position: relative;

      //@include boldFont();

      #author_thumbnail {

        position: absolute;
        top: -1.5rem;
        left: -8rem;
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        overflow: hidden;
      }
    }

    //.text {
    //  min-height: 7rem;
    //}
    //
    //.text p:first-of-type {
    //  margin-top: 1rem;
    //  @include boldFont();
    //}
  }

  #post_intro {

    grid-column: 3 / span 2;
    grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    position: relative;
    z-index: 9;
    width: auto;
    padding: 0;
    //margin-bottom: 3rem;
    @include boldFont();
  }

  //section:first-of-type {
  //
  //  grid-column: 3/5;
  //  grid-row: 3;
  //  -ms-grid-column: 3;
  //  -ms-grid-column-span: 2;
  //  -ms-grid-row: 3;
  //  -ms-grid-row-span: 1;
  //  position: relative;
  //}
}

  .related_posts {

    margin-bottom: 3rem;

    @include three-grid();

    @media (min-width: $breakpoint-lg) {
      grid-template-rows: 3rem auto auto;
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-rows: 3rem auto auto;
    }

    h2 {
      grid-column: 2 / span 3;
      grid-row: 1;
    }

    @for $r from 0 through 1 {
      @for $c from 1 through 3 {
        a:nth-of-type(#{$c + (3 * $r)}) {
          grid-column: #{$c + 1} / span 1;
          grid-row: #{$r + 2};
        }
      }
    }
  }
