#search.wijnemenjemee main {

	@include eight-grid();
	width: 100%;



	#search-form-container {

		grid-column: 1 / span 10;
		grid-row: 1;
		background: $lichtgrijs;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-height: 12rem;


		@media (min-width: $breakpoint-md) {

			grid-column: 2 / span 8;
			min-height: 9rem;

		}
	}

	#search-form {

		grid-column: 3 / span 4;
		grid-row: 1;

		position: relative;
		z-index: 9999;
		width: auto;
		height: 4rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		margin: -8rem 0 0 1rem;

		@media (min-width: $breakpoint-sm) {
			margin: 8rem 0 3rem 0;
		}

		input {
			border: none;
			border-bottom: 1px solid $zwart;
			width: calc(100% - 4.5rem);

			background: transparent;
			height: 38px;
		}

		input:focus {
			border-color: $purple;
		}

		button {
			background: transparent;

			svg  {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}

	#result-count-container {

		position: relative;
		z-index: 9999;
		grid-column: 3 / span 3;
		grid-row: 1;
		max-width: 600px;
		margin: 0rem 0 4rem 1rem;

		@media (min-width: $breakpoint-sm) {
			margin: 12.5rem 0 3rem 0;
		}
	}


	#center-column {

		width: auto;
		grid-column: 2 / span 5;
		grid-row: 2;

		@media (min-width: $breakpoint-md) {
			grid-column: 3 / span 4;
		}

		#search-content-container {

			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.card {

			width : calc(100% - 2rem);

				//@media (min-width: $breakpoint-sm) {
				//	width : auto;
				//}
		}

	}

	#right-bar{

		order: 1;
		width: auto;
		grid-column: 7 / span 2;
		grid-row: 2;

		@media (min-width: $breakpoint-md) {
			grid-column: 8 / span 2;
		}
	}

		.filters{
			width: 100%;
			padding: 1rem;
			margin-bottom: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			@media (min-width: $breakpoint-sm) {
				margin-top: 4rem;
				padding: 0;
			}

			@media (min-width: $breakpoint-lg) {
				margin-top: 3rem;
			}

			ul {
				margin-bottom: 2rem;
			}

			.checkboxes_list {

				li.checkbox_option {

					margin-bottom : .5rem;
				}
			}

			.type {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				margin-bottom: .5rem;
			}

			.row {
				line-height: 2;
				font-size: 1rem;
			}

			.title{
				display: inline-block;
				font-size: 1.125rem;
				line-height: 1.44;
				//font-family:'Cabrito Sans W01 Norm Bold';
				font-weight: normal;
				display: none;
			}

			#tag-container{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				.tag-tab{
					cursor: pointer;
					margin: .25rem .5rem .25rem 0;
					border-bottom: 1px solid $zwart;

					@include compactText();
					text-transform: lowercase;

					.count.evensmallerfont {
						font-size: .75rem;
						display: inline-block;
						margin-left: .25rem;
					}
				}
				.tag-tab:hover  {
					background: $purple;
				}
			}
		}

		.taxonomy {
			margin-bottom: 0.5rem;
			display: block;
		}

		.taxonomy.tags {
			margin-top: 2rem;
		}
	}




.snippet {
	opacity: 0;
	transition-delay: 500ms;
	transition: opacity 500ms ease;
}

.snippet.visible {
	opacity: 1;
}

.tag-tab.initially_hidden {
	display: none;
}

.tag-tab.clear,
.tag-tab.divider {

	display: block;
}

#tag-container.show-all {
	.tag-tab.initially_hidden {
		display: inline-block;
	}

	.tag-tab.divider {
		display: none;
	}
}


