.wijnemenjemee article {

  width: 100%;


  @media (min-width : $breakpoint-sm) {
    display: grid;
    display: -ms-grid;
    @include eight-grid();
    grid-template-rows: 50vh auto auto auto auto;
    -ms-grid-rows: 50vh auto auto auto auto;
    grid-gap: 0;
  }


  font-size: 1.125rem;
  line-height: 1.44;

  #cover_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    background: white;
    height: auto;
    max-height: 100%;
    //min-height: 800px;
    overflow: hidden;

    .img-container  {

      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: visible;
    }

    @media (min-width : $breakpoint-sm) {

      grid-column: 1 / span 10;
      grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 10;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }

    @media (min-width : $breakpoint-bax) {

      grid-column: 2 / span 8;
      grid-row: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span: 8;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }


    &.top  {
      justify-content: flex-start;

      .img-container {
        justify-content: flex-start;
      }
    }

    &.bottom  {
      justify-content: flex-end;

      .img-container {
        justify-content: flex-end;
      }
    }
  }


  #post_info  {

    grid-column: 2 / span 6;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    -ms-grid-row: 2;
    position: relative;
    z-index: 9;
    width: auto;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.55;

    @media (min-width: $breakpoint-sm) {
      padding: 0;
    }

    @media (min-width: $breakpoint-md) {
      margin-top: 2rem;
    }

    h1 {
      color: $purple;
      @include boldFont();
      padding: .25rem 0;
      margin: 0;
      font-size: 1.66rem;
      line-height: 1.185;

      @media (min-width: $breakpoint-sm) {
        font-size: 2.8rem;
        line-height: 1.125;
        padding: .33rem 0 1rem 0;
      }

    }

    .authors {

      position: relative;

      //@include boldFont();

      #author_thumbnail {

        position: absolute;
        top: -1.5rem;
        left: -8rem;
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
        overflow: hidden;
      }
    }

  }

  #post_intro {

    grid-column: 4 / span 4;
    grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    position: relative;
    z-index: 9;
    width: auto;
    padding: 0 1rem;
    //margin-bottom: 3rem;

    @media (min-width: $breakpoint-sm) {
      padding: 0;
    }

    p:first-of-type {
      @include boldFont();
      //font-size: 1.33rem;
      //line-height: 1.4;
    }

    p:last-of-type {
      margin-bottom: .75rem;
    }
  }

  //section:first-of-type {
  //
  //  grid-column: 3 / span 4;
  //  grid-row: 3;
  //  -ms-grid-column: 3;
  //  -ms-grid-column-span: 2;
  //  -ms-grid-row: 3;
  //  -ms-grid-row-span: 1;
  //  position: relative;
  //}
}

  .related_posts {

    margin-bottom: 3rem;
    padding: 1rem;

    @include three-grid();

    @media (min-width: $breakpoint-sm) {
      padding: 0;
    }

    @media (min-width: $breakpoint-lg) {
      grid-template-rows: 3rem auto auto;
      -ms-grid-rows: 3rem auto auto;
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-rows: 3rem auto auto;
      -ms-grid-rows: 3rem auto auto;
    }

    h2 {
      grid-column: 2 / span 3;
      grid-row: 1;
      -ms-grid-column: 2;
      -ms-grid-column-span:  3;
      -ms-grid-row: 1;
    }

    @for $r from 0 through 1 {
      @for $c from 1 through 3 {
        a:nth-of-type(#{$c + (3 * $r)}) {
          grid-column: #{$c + 1} / span 1;
          grid-row: #{$r + 2};
          -ms-grid-column: #{$c + 1};
          -ms-grid-column-span: 1;
          -ms-grid-row: #{$r + 2};
          @media all and (-ms-high-contrast:none) {
            display: block;
            margin-top: 2rem;
            margin-right: 2rem;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
