$zwart: #000;
$wit: #fff;

$donkergrijs: #787878;
$middelgrijs: #bebebe; // #e8e8e8;
$lichtgrijs : #e8e8e8; // #f5f5f5;

$magenta: #e60082;
$purple: #B9005F;

@mixin vra_gradient {

  transition: all 250ms ease;
  background: linear-gradient(135deg, #e30059 0%,#b9005f 100%);


  &:hover {

    background: linear-gradient(45deg, #e30059 0%,#b9005f 100%);
  }
}


// we need more colours