
@font-face{
    font-family:"Avenir LT W01_35 Light1475496";
    src:url("/assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src:url("/assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("/assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("/assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("/assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("/assets/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}
@font-face{
    font-family:"Avenir LT W01_45 Book1475508";
    src:url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
    src:url("/assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("/assets/fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("/assets/fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("/assets/fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("/assets/fonts/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
}
@font-face{
    font-family:"Avenir LT W01_45 Book O1475514";
    src:url("/assets/fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix");
    src:url("/assets/fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix") format("eot"),url("/assets/fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"),url("/assets/fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff"),url("/assets/fonts/04d1bf6c-070d-4b7e-9498-6051c9f0c349.ttf") format("truetype"),url("/assets/fonts/d0a3e813-1257-4b66-812a-36101faa0fb3.svg#d0a3e813-1257-4b66-812a-36101faa0fb3") format("svg");
}
@font-face{
    font-family:"Avenir LT W01_85 Heavy1475544";
    src:url("/assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src:url("/assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("/assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("/assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("/assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("/assets/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}
@font-face{
    font-family:"Avenir LT W01_85 Heavy_1475550";
    src:url("/assets/fonts/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?#iefix");
    src:url("/assets/fonts/e6b412d9-d1ed-4b17-bb93-a6911df8640d.eot?#iefix") format("eot"),url("/assets/fonts/3c210c80-960f-4684-850b-25390b4d08af.woff2") format("woff2"),url("/assets/fonts/cb5c71ad-e582-4d00-929c-67fbfaeb1c27.woff") format("woff"),url("/assets/fonts/9ced8e96-4602-4507-8c20-4ff381949a9a.ttf") format("truetype"),url("/assets/fonts/a7c1d112-7546-459d-a153-1467481298bd.svg#a7c1d112-7546-459d-a153-1467481298bd") format("svg");
}



