@mixin bodyFont {
	font-family: 'Avenir LT W01_45 Book1475508', arial, sans-serif;
}

@mixin boldFont {
	font-family: 'Avenir LT W01_85 Heavy1475544', arial, sans-serif;
	font-weight: normal;
}

@mixin bodyText() {

	@include bodyFont();
	font-size: 15px;
	line-height:22px;
}

@mixin compactText() {

	@include bodyFont();
	font-size: 14px;
	line-height: 20px;
}



body, button, input, textarea {

	@include compactText();

	@media (min-width: $breakpoint-sm) {
		@include bodyText();
	}
}

h1 {


	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
	margin: 0 20px 20px 0;
	padding: 0;

	@media (min-width: $breakpoint-sm) {
		font-size: 32px;
		line-height: 38px;
	}

	&.large {

		font-size: 32px;
		color: $zwart;
		margin: 0 0 30px 0;

		@media (min-width: $breakpoint-sm) {
			font-size: 40px;

		}
		@media (min-width: $breakpoint-md) {
			font-size: 48px;
		}
	}
}

h2 {
	@include boldFont();
	font-size: 1.33rem;
	line-height: 32px;
	padding: 0;
	margin: 15px 0;

	@media (min-width : $breakpoint-sm) {
		font-size: 1.66rem;
		line-height: 1.33
	}
} 

h3 {
	@include boldFont();
	font-size: 1.33rem;
	line-height: 22px;
	margin: 0;
	padding: 0px;

	@media (min-width : $breakpoint-sm) {
		font-size: 18px;
		line-height: 1.25;
		padding: 2px 0;
	}
}

h4 {
	@include boldFont();
	font-size: 14px;
	line-height: 20px;

	@media (min-width : $breakpoint-sm) {
		//font-size: 15px;
		//line-height: 22px;
		margin: 0;
	}
}

.smallerfont {

	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0px;
	color: $donkergrijs;
}

.smallest {

	font-size: 10px;
	text-transform: uppercase;
}

.bold, b, strong {

	@include boldFont();
}



p { margin : 0 0 1.5em 0; }

ul {

	list-style: none;
	padding: 0;
	margin: 0; 

	li {  }

}

a {
	color: $zwart;
	text-decoration: none;
	outline:0;
	border-bottom: 1px solid $middelgrijs;
	transition: all 250ms;

	&:hover {

		color: $purple; border-bottom: 1px solid $purple;
	}
}

a img { border: 0; }  /* voor IE */

.wp-smiley { height: 20px; width: auto; }
[role="button"] { cursor: pointer; }

a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}