
// bullets

@mixin bullets {

  ul {

    margin-bottom: 1.5em;

    li {

      padding-left: 1.25rem;
      text-indent: -.4em;
      position: relative;
      margin-bottom: .5rem;

      @media all and (-ms-high-contrast:none) {
        padding-left: 0;
        left: 1.25rem;
      }
    }

    li::before {

      content: '. ';
      color: $purple;
      font-size: 60px;
      position: absolute;
      left: 0;
      line-height: 0.225;
      top: -.7rem;
    }
  }
}