button, input[type=submit] {

	//@extend h2;
	position: relative;
	overflow: hidden;
	border: none;
	//height: 60px;
	//line-height: 60px;
	//padding: 0 2em;
	background: $magenta;
	//color: $wit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;

	color: white;
	padding: .5rem 1rem;
	text-transform: lowercase;

	//@include vra_gradient();


	//&:hover {
	//	background: $rood;
	//}

	&:disabled {
		font-size: 0;
	}
}