
form {

	p {
		line-height: 1.44;
		margin: 1.5rem 0;
		font-size: 1rem;
	}

	input, textarea, select {

		color: $zwart;
		font-size: 1.06rem;
		line-height: 1.45;
	}

	input {
		padding: .5rem 0;
		border: none;
		border-bottom: 1px solid $lichtgrijs;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;



		&:focus {
			border-color: $purple;
			outline: none;
		}

	}

	textarea {

		//margin: 1rem 0 0 0;
		padding: 1rem;
		border: none;
		border: 1px solid $lichtgrijs;

		&:focus {
			//border-color: $magenta;
			outline: none;
		}
	}
}

form .field-wrapper {

	position: relative;
	top: auto;
	left: auto;
	width: auto;
	margin: 1rem auto;
	list-style: none;

	&.half {

		width: 100%;

		@media (min-width: $breakpoint-sm) {
			width: calc(50% - .5rem);
		}

		&:nth-child(odd) {

			@media (min-width: $breakpoint-sm) {
				width: calc(50% - 2.5rem);
				padding-right: 2rem;
			}
		}
	}

	&.full {
		width: 100%;
	}
}

form .field-wrapper li.checkbox {

	padding: 0;
	display: block;
	position: relative;
	width: 1.9rem;
	height: 1.9rem;
	background: white;
	margin: 0 .5rem .75rem 0;

	input[type=checkbox] {
		top: 0px;
		margin-left: 8px;
		opacity: 0;
		position: relative;
		cursor: pointer;
		width: 8rem;
		height: 1.6rem;
		z-index: 999;
	}

	label {

		display: block;
		position: absolute;
		left: 2.5rem;
		top: .3rem;
		min-width: 20rem;
		color: $zwart;
		font-size: 1rem;
		line-height: 1.5;

		@media (min-width : $breakpoint-md) {
			min-width: 50rem;
		}
	}

}

form .field-wrapper select {

	position: relative;
	background: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $lichtgrijs;
	background-size: 1.8rem 1.8rem;
	background: url('/assets/icons/chevron-up.svg') no-repeat 95% 22px;
	width: calc(100% - 2rem);
	padding: 1rem 0 0.25rem 0;

}

form .field-wrapper textarea {

	min-height: 400px;
	width: calc(100% - 2rem);
	padding: .5rem 1rem;

	&:focus ~ label, &:valid ~ label {
		font-size: 1rem;
		color: $wit;
		left: 0rem;
		top: -2.5rem;
	}
}

form .field-wrapper input {

	width: calc(100% - 2rem);
	padding: .5rem 1rem;

	&:required:not([type="checkbox"]):after {  /* textarea:valid ~ label:after */

		display: inline-block;
		content: ' ';
		background-image: url('/assets/icons/required.svg');
		background-size: 1rem 1rem;
		height: 1rem;
		width: 1rem;
		margin-left: .5rem;
		position: absolute;
		top: 3.75rem;
		right: 1rem;
		z-index: 999;
	}

	/* :after does not work on input element directly */
	&:required:valid:not([type="checkbox"]):after {  /* textarea:valid ~ label:after */

		display: inline-block;
		content: ' ';
		background-image: url('/assets/icons/check.svg');
		background-size: 1rem 1rem;
		height: 1rem;
		width: 1rem;
		margin-left: .5rem;
		position: absolute;
		top: 3.75rem;
		right: 1rem;
		z-index: 999;
	}

	&[aria-invalid="true"]:after {

		display: inline-block;
		content: ' ';
		background-image: url('/assets/icons/warning.svg');
		background-size: 1rem 1rem;
		height: 1rem;
		width: 1rem;
		margin-left: .5rem;
		position: absolute;
		top: 3.75rem;
		right: 1rem;
		z-index: 999;
	}

	&[aria-invalid="true"].warning {

		color: $purple;
	}
}


form #error, form div[role=alert] {

	width: 100%;
	color: #fff;
	line-height: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	display: block;
	background: $purple;
	padding: 1rem;
	transition: opacity 500ms ease;

	&:not(:empty) {
		opacity: 1;

	}

	&:empty {
		opacity: 0;
	}
}