html, body {
	margin: 0; 
	padding: 0; 
}

html {

	font-size: 90%;

	@media (min-width : $breakpoint-bax) {
		font-size: 100%;
	}
}

body {


	overflow-x: hidden;
	padding-top: 4rem;
	width: 100vw;


	@media (min-width :  $breakpoint-sm) {

		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&.werkenbij {
		padding: 0;
	}


 }

.noscript { display: none; }

