@mixin four-grid {

  display: grid;
  display: -ms-grid;

  @media (min-width: $breakpoint-md) {

    grid-template-columns: auto 20rem 20rem 20rem 20rem auto;
    -ms-grid-columns: calc((100vw - 80rem) / 2) 20rem 20rem 20rem 20rem calc((100vw - 80rem) / 2);
  }

  @media (min-width: $breakpoint-lg) {

    grid-template-columns: calc((100vw - 80rem) / 2) 16rem 24rem 24rem 16rem calc((100vw - 80rem) / 2);
    -ms-grid-columns: calc((100vw - 80rem) / 2) 16rem 24rem 24rem 16rem calc((100vw - 80rem) / 2);
  }

}


@mixin six-grid {

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-sm) {

    display: grid;
    display: -ms-grid;

    grid-template-columns: auto repeat(2, calc(50% - 1.5rem)) auto;
    grid-gap: 1rem;

    -ms-grid-columns: 1.5rem calc(50% - 1.5rem) calc(50% - 1.5rem) 1.5rem;
    -ms-grid-rows: auto auto auto auto auto;

    -ms-grid-gap: 1rem;
    //grid-template-rows: auto;
  }

  @media (min-width: $breakpoint-md) {

    $w : 10rem;

    grid-template-columns: auto repeat(6, $w) auto;
    -ms-grid-columns: calc(.5 * (100vw - (6 * #{$w}))) $w $w $w $w $w $w calc(.5 * (100vw - (6 * #{$w})));
  }

  @media (min-width: $breakpoint-bax) {

    $w : 11rem;

    grid-template-columns: auto repeat(6, $w) auto;
    -ms-grid-columns: calc(.5 * (100vw - (6 * #{$w}))) $w $w $w $w $w $w calc(.5 * (100vw - (6 * #{$w})));
  }

  @media (min-width: $breakpoint-lg) {

    $w : 11rem;
    $wie : 12rem;

    grid-template-columns: auto repeat(6, $w) auto;
    -ms-grid-columns: calc(.5 * (100vw - (6 * #{$wie}))) $wie $wie $wie $wie $wie $wie calc(.5 * (100vw - (6 * #{$wie})));

    grid-gap: 2rem;
    -ms-grid-gap: 2rem;
  }

  @media (min-width: $breakpoint-xl) {

    $w : 12rem;
    $wie : 13rem;

    grid-template-columns: auto repeat(6, $w ) auto;
    -ms-grid-columns: calc(.5 * (100vw - (6 * #{$wie}))) $wie $wie $wie $wie $wie $wie calc(.5 * (100vw - (6 * #{$wie})));

  }
}

@mixin eight-grid {

  display: flex;
  flex-direction: column;

  $grid-count: 8;

  @media (min-width: $breakpoint-sm) {

    display: grid;
    display: -ms-grid;

    grid-template-columns: auto repeat(2, calc(50% - 1.5rem)) auto;
    grid-gap: 1rem;

    -ms-grid-columns: 1.5rem calc(50% - 1.5rem) calc(50% - 1.5rem) 1.5rem;

    -ms-grid-gap: 1rem;
    //grid-template-rows: auto;
  }

  @media (min-width: $breakpoint-sm) {

    grid-template-columns: auto repeat(2, 2rem) repeat(4, 8rem) repeat(2, 2rem) auto;
  }

  @media (min-width: $breakpoint-md) {


    grid-template-columns: auto repeat(2, 6rem) repeat(4, 8rem) repeat(2, 6rem) auto;
  }

  @media (min-width: $breakpoint-bax) {

    $w : 7rem;
    $wie : 6rem;

    grid-template-columns: auto repeat(2, 7rem) repeat(4, 8rem) repeat(2, 7rem) auto;
    -ms-grid-columns: calc(.5 * (100vw - (#{$grid-count} * #{$wie}))) $wie $wie $wie $wie $wie $wie $wie $wie  calc(.5 * (100vw - (#{$grid-count} * #{$wie})));
  }

  @media (min-width: $breakpoint-lg) {

    $w : 8rem;
    $wie : 9rem;

    grid-template-columns: auto repeat(2, 8rem) repeat(4, 8rem) repeat(2, 8rem) auto;
    -ms-grid-columns: calc(.5 * (100vw - (#{$grid-count} * #{$wie}))) $wie $wie $wie $wie $wie $wie $wie $wie  calc(.5 * (100vw - (#{$grid-count} * #{$wie})));

    grid-gap: 2rem;
    -ms-grid-gap: 2rem;
  }

  @media (min-width: $breakpoint-xl) {

    $w : 8rem;
    $wie : 9rem;

    grid-template-columns: auto repeat(2, 8rem) repeat(4, 9rem) repeat(2, 8rem) auto;
    -ms-grid-columns: calc(.5 * (100vw - (#{$grid-count} * #{$wie}))) $wie $wie $wie $wie $wie $wie $wie $wie  calc(.5 * (100vw - (#{$grid-count} * #{$wie})));
  }

  //@media (min-width: $breakpoint-xl) {
  //
  //  $w : 9rem;
  //  $wie : 10rem;
  //
  //  grid-template-columns: auto repeat(2, 9rem) repeat(4, 9rem) repeat(2, 9rem) auto;
  //  -ms-grid-columns: calc(.5 * (100vw - (#{$grid-count} * #{$wie}))) $wie $wie $wie $wie $wie $wie $wie $wie calc(.5 * (100vw - (#{$grid-count} * #{$wie})));
  //
  //}
}


@mixin three-grid {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-sm) {

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto calc(50% - 1rem) calc(50% - 1rem) auto;
    grid-template-columns: auto repeat(2, calc(50% - 1rem)) auto;
    grid-gap: 2rem;
    -ms-grid-gap: 2rem;
    //grid-template-rows: auto;
  }

  @media (min-width: $breakpoint-md) {

    -ms-grid-columns: calc(.5 * (100vw - (3 * 20rem))) 20rem 20rem 20rem calc(.5 * (100vw - (3 * 20rem)));
    grid-template-columns: auto repeat(3, 20rem) auto;
    //-ms-grid-rows: auto auto;
    //grid-template-rows: auto auto;

  }

  @media (min-width: $breakpoint-lg) {

    grid-template-columns: auto repeat(3, 24rem) auto;
    -ms-grid-columns: calc(.5 * (100vw - (3 * 24rem))) 24rem 24rem 24rem calc(.5 * (100vw - (3 * 24rem)));
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: auto repeat(3, 28rem) auto;
    -ms-grid-columns: calc(.5 * (100vw - (3 * 28rem))) 28rem 28rem 28rem calc(.5 * (100vw - (3 * 28rem)));
    grid-template-rows:  20.5rem 28rem 28rem 28rem 3rem;
  }

  @media (min-width: $breakpoint-xxl) {
    //grid-template-columns: auto repeat(5, 21rem) auto;
    //-ms-grid-rows: 25rem 21rem 21rem 21rem 3rem 21rem auto;
    //grid-template-rows:  25rem 21rem 21rem 21rem 3rem 21rem auto;
    //grid-gap: 1rem;
  }

  @media (min-width: $breakpoint-xxxl) {

    //grid-template-columns: auto repeat(5, 21rem) auto;
    //-ms-grid-rows: 25rem 21rem 21rem 21rem 3rem 21rem auto;
    //grid-template-rows:  25rem 21rem 21rem 21rem 3rem 21rem auto;
    //grid-gap: 1rem;
    //grid-template-columns: auto repeat(6, 20rem) auto;
    //-ms-grid-rows: 27.66rem 18.5rem 18.5rem 18.5rem 3rem auto;
    //grid-template-rows:  27.66rem 20rem 20rem 20rem 20rem auto;
    //grid-gap: 1rem;
  }
}

@mixin equal-four-grid {

  display: grid;
  grid-template-columns: calc((100vw - 80rem) / 2) 16rem 24rem 24rem 16rem calc((100vw - 80rem) / 2);

}

@mixin search-grid {

  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {

    display: grid;
    -ms-grid-columns: auto 20rem 20rem 20rem auto;
    grid-template-columns: auto repeat(3, 20rem) auto;
    grid-gap: 2rem;
    grid-template-rows: auto;
  }

}