.container {

	width: calc(100% - 2rem);
	position: relative;
	margin: 0 auto;
	flex-direction: column;

	@media (min-width : $breakpoint-sm) {
		width: calc(100% - 4rem);
	}

	@media (min-width : $breakpoint-md) {
		width: 920px;
	}

	@media (min-width : $breakpoint-bax) {
		width: 1000px;
	}

	@media (min-width : $breakpoint-lg) {
		width: 1020px;
	}
}

.large-container {

	width: calc(100% - 2rem);
	position: relative;
	margin: 0 auto;
	background: #fff;

	@media (min-width : $breakpoint-md) {
		width: calc(100% - 4rem);
	}

	@media (min-width : $breakpoint-lg) {
		width: 1180px;
	}
}

.small-container {

	width: calc(100% - 0rem);
	position: relative;
	margin: 0 auto;
	background: #fff;

	@media (min-width : $breakpoint-sm) {
		width: calc(100% - 4rem);
	}

	@media (min-width : $breakpoint-md) {
		width: 880px;
	}

	@media (min-width : $breakpoint-bax) {
		width: 880px;
	}

	@media (min-width : $breakpoint-lg) {
		width: 880px;
	}
}

.block_container { 

	@extend .container;
	display: flex; 
	@include flex-flow(row wrap); 
	@include justify-content(space-between)
	@include align-items(flex-start)
	padding-top: 30px;
}

.main_container {

	width: 100%;
	display: flex; 
	@include flex-flow(row wrap); 
	@include justify-content(space-between)
	@include align-items(flex-start)
	padding-top: 2em;

	a {
		width: calc(1220px / 3);
	}

	@media (min-width : $breakpoint-bax) {

		width: calc(600px - 2em);
	}

	@media (min-width : $breakpoint-md) {

		width: 570px;
	}
}

.side_container {

	width: 100%;
	display: flex; 
	@include flex-flow(column wrap); 
	@include justify-content(flex-start)
	@include align-items(flex-start)
	padding-top: 2em;

}

.triad_container {

	position: relative;
 	width: calc((100% - 4rem) / 3);
}

.col-67 {

	width: 100%;
	@media (min-width: $breakpoint-md) {
		width: 67%;
	}

}

.col-33 {

	width: 100%;
	@media (min-width: $breakpoint-md) {
		width: 33%;
	}
}

.col-60 {

	width: 100%;
	@media (min-width: $breakpoint-md) {
		width: 60%;
	}
}

.col-40 {

	width: 100%;

	@media (min-width: $breakpoint-md) {
		width: 40%;
	}
}

.col-50 {

	width: 100%;

	@media (min-width: $breakpoint-md) {
		width: 50%;
	}
}

.col-50:first-of-type {

	@media (min-width: $breakpoint-md) {
		padding-right: 12px;
	}
}

.col-50:last-of-type {

	@media (min-width: $breakpoint-md) {
		padding-left: 12px;
	}
}