
<div class="search-snippet document">
   <div class="image-container">
           <a href="{{body.url}}">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 20 20">
                   <path fill="#000000" d="M14.5 18h-10c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                   <path fill="#000000" d="M16.5 3c-0.276 0-0.5 0.224-0.5 0.5v15c0 0.276-0.224 0.5-0.5 0.5h-11c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5h9c0.827 0 1.5-0.673 1.5-1.5v-12c0-0.827-0.673-1.5-1.5-1.5h-10c-0.827 0-1.5 0.673-1.5 1.5v15c0 1.378 1.122 2.5 2.5 2.5h11c0.827 0 1.5-0.673 1.5-1.5v-15c0-0.276-0.224-0.5-0.5-0.5zM3.5 2h10c0.276 0 0.5 0.224 0.5 0.5v12c0 0.276-0.224 0.5-0.5 0.5h-9c-0.562 0-1.082 0.187-1.5 0.501v-13.001c0-0.276 0.224-0.5 0.5-0.5z"></path>
               </svg>
           </a>
   </div>
   <div class="card-text">

       <span class="datetime evensmallerfont">
            {{formatDate body.date 'DD MMMM YYYY'}}
       </span>
       <a href="{{body.url}}">
            <h3>{{{body.title}}}</h3>
            <div class="search-excerpt">{{{body.content}}}</div>
       </a>

           <ul class="document-taglist">
           {{#each body.tags as |tag|}}
                   <li class="tag-tab smallerfont">{{tag.name}}</li>
           {{/each}}
           </ul>
           <span class="smallerfont">Bij "<a href="{{body.post_url}}">{{body.post_title}}</a>"</span>

   </div>
</div>
