#banner-homepage {
  transition : height 250ms ease-in;
  width: 100%;
  display: none;
  position: relative;
  overflow: hidden;

  @media (min-width: $breakpoint-sm) {
    display: block;
    background: black;
    padding: 0;
    width: auto;
    grid-column: 1 / span 4;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;

    height: 12.5rem;
  }

  @media (min-width: $breakpoint-md) {
    height: 17.66rem;
    grid-column: 2 / span 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;

  }


  @media (min-width : $breakpoint-md) {
    height: 21vw;
  }

  @media (min-width : $breakpoint-lg) {
    height: 19vw;
  }

  @media (min-width : $breakpoint-xl) {
    height: 17.8vw;
  }

  @media (min-width : $breakpoint-xxl) {
    grid-column: 2 / span 6;
    height: 19vw;
  }


  > a {
    display: block;
    height: 100%;
  }

  .banner-homepage-slide {

    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    transition: opacity 1000ms ease;

    > img {

      height: auto;
      width: 100%;

      @media (min-width : $breakpoint-lg) {

        height: auto;
        width: 100%;
      }
    }

    &.active {
      opacity: 1;
    }
  }

  .call-to-action {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;

    @media (min-width : $breakpoint-sm) {
      //top: 30px;
      display: none;
    }

    @media (min-width : $breakpoint-md) {
      //top: 20px;
      display: block;
    }

    span {
      font-size: 20px;
      line-height: 1.25;
      display: block;
      color: #000;
      @include boldFont();

      max-width: calc(100% - 40px);

      @media (min-width : $breakpoint-sm) {
        font-size: 18px;
        color: #fff;
        max-width: 27rem;
      }

      @media (min-width : $breakpoint-md) {
        font-size: 1.33rem;
      }
      @media (min-width : $breakpoint-lg) {

        max-width: 29rem;
      }

    }
  }

  #vra_logo {

    width: 280px;
    height: auto;
    position: absolute;
    bottom: -60px;
    right: 0px;
    fill: white;
    display: none;

    @media (min-width : $breakpoint-sm) {
      display: block;
      width: 200px;
      bottom: -50px;
    }

    @media (min-width : $breakpoint-md) {
      width: 200px;
      bottom: -50px;
    }
    @media (min-width : $breakpoint-lg) {
      width: 280px;
      bottom: -60px;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      bottom: -140px;
    }


  }

  #introgradient {

    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    opacity: 0.5;
    background: #000;

    background: -moz-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

  }

}