a.block.large {

  max-height: 18rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  @media (min-width : $breakpoint-sm) {
    margin-bottom: 0;
  }

  .gradient  {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, .3) 75%, rgba(0,0,0,0.75));

    @media (min-width : $breakpoint-sm) {

      background:  linear-gradient(-135deg,transparent,rgba(0,0,0,0.01) 25%, rgba(0,0,0,0.75));
    }

  }



  .overlay {

    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #fff;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    left: 1rem;
    bottom: 1rem;
    padding: 0;


    @media (min-width : $breakpoint-sm) {

      left: 1.5rem;
      bottom: 1.5rem;
      width: 80%;
      //padding: .5rem 1.5rem;
    }


    h2 {
      color: white;
      margin: 0 0 .25rem 0;
      padding: 0;
      font-size: 1.4rem;
      line-height: 1.25;
      max-width: 70%;

      @media (min-width : $breakpoint-sm) {
        font-size: 1.66rem;
        line-height: 1.25;
        max-width: 90%;
      }

      @media (min-width : $breakpoint-md) {
        font-size: 1.66rem;
        line-height: 1.25;
        max-width: 70%;
      }
    }
  }

}