.block_camera {


  border: none;
  padding: 0 1rem;

  @media (min-width: $breakpoint-sm) {
    padding: 0;
  }


  .block_camera__image {

    max-height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  .block_camera__text {

    margin: 1rem 0 0 0;

    h3 {
      line-height: 1.3;
      font-size: 1.25rem;
      padding: 4px 0;
      max-width: 75%;

      @media (min-width: $breakpoint-bax) {
        line-height: 1.25;
        font-size: 1.33rem;
      }

    }

    margin-bottom: 1rem;

    @media (min-width: $breakpoint-bax) {
      margin-bottom: 0;
    }
  }

  &:hover {
    border: none;
    color: black;
  }
}