.block.vacature {

  position: relative;
  //background: white;
  border: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;

  @media (min-width: $breakpoint-sm) {
    padding: 1rem;
    margin: 0;
  }

  @media (min-width: $breakpoint-md) {
    padding: 1rem;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 2rem;
  }


  svg.clipped {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    fill: white;
  }

  > * {
    position: relative;
    z-index: 1;
  }


  h3 {

    line-height: 1.25;
    font-size: 1.4rem;
    padding: 4px 0;

  }


  div.more-link {

    position: absolute;
    right: 1.5rem;
    top: auto;
    bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40px;
    height: 2rem;


    > svg.icon {


      position: relative;
      fill: $magenta !important;
      height: .66rem;
      width: auto;
      transform: rotate(90deg);


      @media all and (-ms-high-contrast: none) {
        width: 2rem;
      }

      opacity: 0;
      transition: opacity 250ms ease-in;

      &:nth-child(1) {
        transition-delay: 0ms;
      }

      &:nth-child(2) {

      }

      &:nth-child(3) {
        opacity: 1;
      }

    }

  }

  &:hover  {

    div.more-link > svg.icon {

      opacity: 1;


      &:nth-child(1) {
        transition-delay: 250ms;
      }

      &:nth-child(2) {
        transition-delay: 0ms;
      }

    }
  }
}