.block.ambassador {

  position: relative;
  @include center();
  height: 100vw;
  overflow: hidden;
  margin: 2rem 0;

  @media (min-width: $breakpoint-sm) {
    height: auto;
    margin: 1rem;
  }

  .img-container  {


    width: 100%;
    height: 100%;

    > img {

      height: 100%;
      width: auto;

      @media (min-width: $breakpoint-lg) {
        width: 100%;
        height: auto;
      }

    }

  }


  > .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 75%, rgba(0, 0, 0, 1) 100%);
  }

  > .overlay {

    position: absolute;
    left: auto;
    right: 1rem;
    bottom: 1rem;
    color: white;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background: transparent;

    @media (min-width: $breakpoint-md) {
      right: 0rem;
      bottom: .5rem;
      color: white;
      padding: .5rem 1.5rem;
    }

    @media (min-width: $breakpoint-lg) {
      right: 1.5rem;
      bottom: 1.5rem;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 2rem;
      line-height: 1.05;
      padding: 8px 0;
      text-align: right;
      max-width: 80%;

      p {
        margin: 0;
      }

      //@media all and (-ms-high-contrast:none) {
      //  max-width: 80%;
      //}

    }

    span {
      display: block;
      max-width: 66%;
      text-align: right;
      line-height: 1.33;

      svg {
        position: relative;
        transform: rotate(90deg);
        height: .5rem;
        fill: white;
        width: auto;
        right: auto;
        top: auto;
        bottom: auto;

        @media all and (-ms-high-contrast: none) {
          width: 1rem;
        }
      }
    }
  }
}