a.block.page {

  position: relative;
  border: none;
  display: block;


  .img-container {
    @media all and (-ms-high-contrast:none) {
      height: 100%;

      > img {
        height: 100%;
      }
    }
  }

  .gradient {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 75%, rgba(0, 0, 0, .6) 100%);
  }

  .overlay {

    transition : all 1000ms ease-out;
    position: absolute;
    z-index: 100;
    background: transparent;
    padding: 2rem;
    left: 0;
    right: 0;

    h3 {
      margin: 0;
      padding: .125rem 0;
      font-size: 2rem;
      line-height: 1.05;
      color: white;
    }

    span {
      color: white;
    }

    svg {

      position: absolute;
      right: 1rem;
      top: auto;
      bottom: 2.25rem;
      fill: white;
      height: .75rem;
      width: auto;
      transform: rotate(90deg);

      @media all and (-ms-high-contrast:none) {
        width: .75rem;
      }

    }
  }

  &:hover {

  }
}
