a.block {

  position: relative;
  border: none;

  .overlay {

    transition : all 1000ms ease-out;
    position: absolute;
    z-index: 100;
    background: #fff;
    padding: 1rem;
    bottom: -5px;
    left: 0;
    width: calc(100% - 4rem);

    h3 {
      padding-bottom: 12px;
    }

    .tags {

      display: inline;
      font-size: 13px;
      line-height: 18px;
      color: $magenta;
    }

    a {
      display: inline;
      color: $magenta;
      border: none;
    }

    span.separator {
      color: $magenta;

      &:first-of-type {
        display: none;
      }
    }
    span.tag::first-letter {
        text-transform: uppercase;
      }

    span.author {

      @include boldFont();
      display: block;
      font-size: 14px;
      line-height: 18px;

    }

    span.date {

      display: block;
      font-size: 13px;
      line-height: 18px;
    }

    svg {

      position: absolute;
      right: 0.75rem;
      top: auto;
      bottom: 0.75rem;
      fill: $magenta;
      height: .75rem;
      width: auto;
      transform: rotate(180deg);

    }
  }

  &:hover {

    color: black;
  }
}
