a.category-banner {

  position: relative;
  width: auto;
  border: none;


    img {
      width : 100%;
      height: auto;
    }

    .title {

      position: relative;
      height: 3rem;
      line-height: 3rem;
      padding-left: 1.5rem;

      h3 {

        line-height: 3rem;
        margin: 0;

      }
      svg {

        position: absolute;
        top: 1.05rem;
        left: 0;
        fill: $magenta;
        height: .75rem;
        width: auto;
        transform: rotate(90deg);

      }
    }

    .ezelsoor {

      position: absolute;
      z-index: 1000;
      top: 3rem;
      right: 0;
      width: 2rem;
      height: 2rem;
      background: $magenta;
      overflow: hidden;

      span {

        position: absolute;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #fff;

      }
    }
}