.comment {

	width: calc(100% - 0rem);
	position: relative;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.5;
	transition: all 500ms ease-out;
	background: #fff;
	padding:  .5rem 0;

	.comment-wrapper {

		position: relative;
		margin-right: 2rem;
		width: calc(100% - 2rem);
	}


	img {
		width: 100%;
	}

	.header { 

		position: relative;
		line-height: 1.85;
		width: calc(100% + 1px);
	}

	.auteur, h4 {

	}

	h4 {
		margin: 0;
		font-size: 1rem;
		line-height: 1.4;

		&.editorial {
			color: $purple;
		}
	}

	.datum, .datetime {
		font-size: 1rem;
	}

	p:last-of-type {
		margin-bottom: 0;
	}


	a {
		@include compactText();
		border-bottom: 1px solid $zwart;
	}


	.comment-relations {

		position: relative;
		display: flex;
		flex-direction: row;
		margin: .125rem 0;

		a.comment-relations_circle {
			position: relative;
			margin-right: 1rem;
			display: flex;
			font-size: 1rem;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: center;
			border: none;

			> div {
				position: relative;
				margin: 0 .5rem 0 0;
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			svg {
				height: .4rem;
				width: auto;
				margin-left: .25rem;
				transform: rotate(90deg);
			}
x
			span {
				display: block;

				&.number {
					font-size: .75rem;
				}
			}

			.tooltip {
				visibility: hidden;
				width: 120px;
				background-color: $zwart;
				color: #fff;
				text-align: center;
				padding: 5px 0;
				border-radius: 6px;
				position: absolute;
				z-index: 1;
				top: -1rem;
				left: -160px;
			}



			&.comment-relations_prev {

				svg {
					transform: rotate(90deg);
				}
			}

			&.comment-relations_next {

				svg {
					transform: rotate(-90deg);
				}
			}

			&.comment-relations_post {

				svg {
					margin-left: .5rem;
				}
			}
			&.comment-relations_thread {

			}

			&:hover  {

				color: $purple;

				svg {
					fill : $purple;
				}
			}
		}
	}


	&.inactive {
		opacity: .25;
	}
}
