.comment-section {

  background: $lichtgrijs;
  margin: 2rem 0;
  padding: 2rem 1rem;
  width: calc(100% - 2rem);
  @include three-grid();

  @media (min-width: $breakpoint-sm) {
    padding: 2rem 0;
    width: 100%;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-rows: auto ;
    -ms-grid-rows: auto;
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-rows: auto ;
    -ms-grid-rows: auto;
  }

  main {

    grid-column: 2 / span 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;

    @media all and (-ms-high-contrast:none) {
      display: block;
      margin-top: 2rem;
      margin-right: 2rem;
    }


    h2 {
      font-size: 1.33rem;
      line-height: 1.33;
      margin: 0 0 1rem 0;
    }

    #comments-wrapper {
      max-height: 40vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .comment {
      padding: 1rem;
      margin-bottom: .25rem;
      width: calc(100% - 5rem);
      font-size: 1rem;
      line-height: 1.55;
      margin-left: 3rem;
      overflow: hidden;

      h3 {
        font-size: 1.125rem;
        line-height: 1.44;
      }

      &:first-child {
        margin-left: 0;
        width: calc(100% - 2rem);
      }
    }

    #comment-template-new, #comment-template-reply {
      display: none;
    }
  }

  aside {
    background: none;
    grid-column: 4 / span 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-row: 1;
    -ms-grid-row: 1;
    min-height: 0;
    margin-top: 2rem;


    @media (min-width: $breakpoint-sm) {
      margin-top: 0;
    }


  }
}