rect, .bar, .stackGroup {

  &.purple, &.purple &, .bar {
    fill: $purple;
  }
}

.small-label {

  font-size: .8rem;

  &.white {
    fill:  white;
  }
}

text {

    fill: black;


  &.tickSize {

    font-size: .8rem;
  }

}

.y-axis.support {

  .tick line {

    stroke: $middelgrijs;
  }
}