body.wijnemenjemee {

  padding-top: 0rem;

  @media (min-width: $breakpoint-md) {
    padding-top: 1rem;
  }

}

#menu {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 5rem;

  transition: height 300ms ease;


  @media (min-width: $breakpoint-md) {
    top: 1rem;
  }

  @media (min-width :  $breakpoint-lg) {
    height: 3.5rem;
  }

  &.wijnemenjemee {
    //background: white;
    //height: 4rem;

    > .container {

      position: relative;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 4rem;
      margin: 0 auto;

      //@media (min-width: $breakpoint-sm) {
      //
      //  width : calc(100% - 0rem);
      //}

      @media (min-width: $breakpoint-md) {

        width: 67rem;
      }

      @media (min-width: $breakpoint-bax) {

        width: 71rem;
      }

      @media (min-width: $breakpoint-lg) {

        width: 76rem;
      }

      @media (min-width: $breakpoint-xl) {

        width: 82rem;
      }

      > div.left-background {
        margin: 0;
        position: absolute;
        height: 3rem;
        top: 0;
        left: 0rem;

        background: white;
        width: 15.1rem;

        @media (min-width: $breakpoint-sm) {
          height: 4rem;
          width: 21.1rem;
        }

        @media (min-width: $breakpoint-md) {
          width: 21.1rem;
        }

        @media (min-width: $breakpoint-xl) {
          //width: 23.1rem;
        }
      }

      > div.left-side {
        margin: 0 0 0 15rem;
        position: relative;
        height: 3rem;
        width: 5rem;
        //background: white;

        @media (min-width: $breakpoint-sm) {
          height: 4rem;
          margin: 0 0 0 21rem;
        }

        @media (min-width: $breakpoint-md) {
          margin: 0 0 0 21rem;
          width: 8rem;

          @media all and (-ms-high-contrast: none) {
            margin-right: auto;
          }
        }

        svg {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          fill: white;
        }
      }

      a {

        border: none;
        position: absolute;
        margin: 0 1rem;
        margin-top: .66rem;
        @include boldFont();
        font-size: 1.33rem;
        color: $purple;

        @media (min-width : $breakpoint-sm) {
          font-size: 1.66rem;
        }

        svg {

          width: auto;
          height: 1rem;
          fill: $magenta;
          margin-right: .5rem;

          @media (min-width : $breakpoint-sm) {
            height: 2rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }


  &.open {
    height: 100vh;
    background: $lichtgrijs;
  }

  &.werkenbij {

    display: block;
    position: fixed;
    top: 0;
    //flex-direction: row;
    //justify-content: space-between;

    > div.left-background {
      margin: 0;
      position: absolute;
      height: 5rem;
      top: 0;
      left: 0rem;
      width: calc(7rem + 1px);
      background: white;

      @media (min-width : $breakpoint-md) {
        width: calc(11rem + 1px);
      }
    }

    > div.left-side {
      margin: 0 0 0 7rem;
      position: relative;
      height: 5rem;
      width: 5rem;
      //background: white;

      @media (min-width : $breakpoint-md) {
        margin: 0 0 0 11rem;
        width: 10rem;

        @media all and (-ms-high-contrast:none) {
          margin-right: auto;
        }
      }

      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        fill: white;


      }
    }

    svg.menu_background {

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      path {
        width: 100%;
        height: 100%;
      }
    }

    a {

      display: block;
      top: 1.5rem;
      left: 2rem;
      border: none;
      position: absolute;

      @media (min-width : $breakpoint-md) {
        left: 6.5rem;
      }

      svg {
        width: auto;
        height: 2rem;
        fill: $magenta;

        @media all and (-ms-high-contrast:none) {
          width: 6rem;
        }
      }

    }

    ul {

      margin-right: 1.5rem;


      li {

        background: white;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        @include center();

        &#open-menu {

          position: absolute;
          z-index: 1000;
          right: 1rem;
          top: 1rem;

          svg {

            stroke-width: 3;
            height: 1.75rem;
            width: auto;
          }
        }

        &#close-menu {
          display: none;
          position: absolute;
          z-index: 1000;
          top: 1rem;
          right: 1rem;


          svg {
            height: 2rem;
            width: auto;
          }
        }
      }
    }
  }
}
