$countOfEl : 5;

ul#home-menu

  {
    display: grid;
    grid-template-columns:  repeat(#{$countOfEl},1fr);
    grid-template-rows: 100%;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: $lichtgrijs;

    width: 100vw;

    @media (min-width: $breakpoint-md) {
      display: none;
    }

    $countOfEl : 6;

    li {

      grid-row: 1;
      width: auto;
      z-index: 1001;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      border-right: 1px solid white;
      border-top: 1px solid white;

      &:last-of-type {
        border-right: none;
      }

      &.active-background {
        position: absolute;
        left: 0;
        z-index: 1000;
        background: $magenta;

      }

      &.active svg {

        fill: white;
        stroke: white;
      }

      svg {
        height: 1.5rem;
        width: auto;
        stroke: $zwart;
        fill: $zwart;
      }
    }


    @for $i from 1 through $countOfEl {

      li:nth-child(#{$i}) {
        grid-column: #{$i - 1} / span 1;
        &.active-background {
          width: calc(100% / 5);
        }
      }
    }
  }





