.item.instagram {

  margin-bottom: 1.5rem;
  border: none;
  display: block;

  > img  {


    width: 100%;
    height: auto;

  }

  .location {
    margin-top: .75rem;
    @include  boldFont();

  }

  .likes {

    display: block;
    margin-top: .25rem;
  }

}