
nav#nav {

  top: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 250ms ease-in-out;
  transform : translateX(100vw);

  @media (min-width: $breakpoint-md) {
    width: 50vw;
    transform : translateX(50vw);
    margin-top: 0rem;
  }

  h3 {
    font-size: 1.33rem;
    line-height: 1.25;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    li {

      //font-size: 1.125rem;
      line-height: 2;

      a:hover {
        color: $purple;
      }
    }
  }
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  > div  {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 6rem);
    margin-left: 4rem;
  }

  &.werkenbij {

    top: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $breakpoint-sm) {
      width: 20rem;
      margin-top: 0rem;
    }

    transform : translateX(500px);

    ul {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;

      li {
        color: $purple;
      }
    }

  }
}

.wijnemenjemee {

  ul#menu-buttons {

    position: fixed;
    z-index: 9999;
    right: 1.5rem;
    top: 2rem;
    list-style: none;

    @media (min-width : $breakpoint-md) {
      right: 1rem;
    }

    @media (min-width : $breakpoint-bax) {
      right : calc(((100% - 70rem) / 2) + 3rem)
    }

    @media (min-width : $breakpoint-lg) {
      right : calc(((100% - 76rem) / 2) - 4rem)
    }

    @media (min-width : $breakpoint-xl) {
      right : calc(((100% - 82rem) / 2) - 3rem)
    }

    li {
      display: none;
      background: white;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      justify-content: center;
      align-items: center;

    }

    li:first-of-type {
      display: flex;

      svg {
        stroke-width: 3;
      }
    }
  }

}



