.more-link {

    position: relative;
    padding-left: 3rem;
    border: none;
    line-height: 3rem;
    background: $lichtgrijs;
    border-radius: 4px;

    svg {

      position: absolute;
      //top: 0;
      //left: 0;
      //height: 2rem;
      width: auto;
      fill: $purple;
      top: .7rem;
      left: .5rem;
      height: 1.75rem;

      @media all and (-ms-high-contrast:none) {
        width: 1.75rem;
      }
    }

    span {
      @include boldFont();
      font-size: 18px;
    }
}