.more-vacancies {

  grid-column: 3 / 5;
  width : auto;
  margin: 1rem 0 3rem 0;
  @include boldFont();
  font-size: 1.25rem;
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-md) {
    margin: 1rem 0 1rem 0;
  }

  a, span {

    background: linear-gradient(135deg, #e30059 0%,#b9005f 100%);
    color: white;
    border-radius: 1rem;
    transition: all 250ms ease;
    padding: .5rem 2rem;

    &:hover {
      transform: scale(1.025);
    }

  }


}