.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 2rem 0;
  padding: 0;
  @media (max-width: $breakpoint-sm) {
    justify-content: center;
    margin: 0 0 4rem 0;
  }

  li {
    width: 2rem;
    height: 2rem;
    // border: 1px solid black;
    background: $lichtgrijs;
    color: black;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }

  li.points {
    border-color: white;
  }

  li.active {
    background: $purple;
    color: white;
  }

  li:hover {
    background: $purple;
  }
}
