.related {



  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $breakpoint-sm) {

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50% 50% auto;
    grid-template-columns: auto repeat(2, calc(50% - 3rem)) auto;
    grid-gap: 2rem;
    grid-template-rows: auto;
  }

  @media (min-width: $breakpoint-md) {

    margin-top: 3rem;

    -ms-grid-columns: calc(.5 * (100vw - (3 * 21rem))) 21rem 21rem 21rem calc(.5 * (100vw - (3 * 21rem)));
    grid-template-columns: auto repeat(3, 21rem) auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;

  }

  @media (min-width: $breakpoint-lg) {
    -ms-grid-columns: calc(.5 * (100vw - (3 * 24rem))) 24rem 24rem 24rem calc(.5 * (100vw - (3 * 24rem)));
    grid-template-columns: auto repeat(3, 24rem) auto;
    grid-template-rows: auto auto;
  }


  h2 {
    grid-column: 2 / span 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-row: 1;
    -ms-grid-row: 1;

    @media (max-width: $breakpoint-sm) {
      margin-left: 1rem;
    }
  }

  > a {

    //margin-bottom: 2rem;
    display: block;

    @media (min-width: $breakpoint-sm) {

      max-height: 45vw;

      @for $r from 0 through 1 {
        @for $i from 1 through 3 {
          &:nth-of-type(#{$i + ($r * 3)}) {
            grid-column: calc(#{$i + 1});
            grid-row: #{$r + 1};
            -ms-grid-column: calc(#{$i + 1});
            -ms-grid-row: #{$r + 1};
            //margin-bottom: 0rem;
          }
        }
      }

      @media (min-width: $breakpoint-md) {

        max-height: none;
      }

      @media all and (-ms-high-contrast:none) {
        margin: 0 2rem 2rem 0;

        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }

    //@media (min-width: $breakpoint-lg) {
    //  height: 20rem;
    //}

    &.block.ambassador {

      margin: 1rem 0;

      @media (min-width: $breakpoint-sm) {
        margin: 0;
      }

      @media all and (-ms-high-contrast:none) {
        margin: 0 2rem 2rem 0;

        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }

    &.block.vacature svg {

      fill: $lichtgrijs;
    }
  }
}