
#respondcontainer {

/*    width: 100%;*/
    position: relative;
}

 #respond-pencil {

        position: absolute;
        top: 1.75rem;
        left: -3.5rem;
        width: 2rem;
        height: 2rem;
        stroke: $zwart;
        display: none;
    }

#respond-pencil:hover {
    stroke: $zwart;

}

.respondform {

    margin: 0 0 1rem 0;
    position: relative;
    height: 107px;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 0rem);

    > div {

        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 0rem);
        position: relative;

        .form-group {

            width: 100%;
            margin: 1rem 0 0 0;

            @media (min-width: $breakpoint-sm) {

                width: calc(50% - 1rem);
            }

        }

    }



    textarea {
        border-color: $lichtgrijs;
        width: 100%;
    }

    input {

        width: calc(100% - 2rem);
        margin: 0 0 1em 0;
        border-color: $lichtgrijs;
        padding: .5rem 1rem;

        @media (min-width: $breakpoint-md) {
            //width: 23rem;
        }

    }
    textarea {

        height: 57px;
        width: calc(100% - 34px);
        //margin: 1em 0;
        padding: 1rem;
    }

    label {

        display: block;
        color: $zwart;
    } /* overrule voor browsers zonder support voor placeholder */

    div[role=alert]:empty {
        display: none;
    }

    input[type=submit] {

        width: 100%;

        @media (min-width: $breakpoint-sm) {
            width: 200px;
        }
    }

    button {

        background: $purple;
        color: white;
        line-height: 40px;
        height: 40px;
        padding: 0 1em;
        font-size: 1rem;
        text-transform: lowercase;
        text-align: left;
        margin-top: 1rem;

        @media (max-width: $breakpoint-sm) {
            width: 100%;
        }
    }

    button:hover {

        background: $zwart;
    }

    .half {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        opacity: 0;
        margin: 0 0 1rem 0;
        transition: opacity 1000ms ease;
        @media (min-width: $breakpoint-md) {
           width: calc(50% - 1rem);
            align-items: flex-end;
        }

        .form-group.form-group__column {
            width: 100%;
        }
    }
    /*// hide 'keep me posted on mobile'*/


}

#closeform, #openform {

    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem;

    svg {

        width: 100%;
        height:auto;
        stroke-width: 1px;
        stroke: black;
    }
}


#closeform { display: none; }

#openform svg { transform: rotate(45deg); }

#dashboard #respondform {

    input, textarea { width: calc(100% - 1rem); }
}

#comment-template-new, #comment-template-reply {

    margin: 0;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 1500ms ease;

}

#comment-template-new.visible, #comment-template-reply.visible {
    height: auto;
    opacity: 1;
}

#comment-template-reply.visible {
   
    padding: .75rem 1.5rem 2rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.thread {

    display: flex;
    flex-direction: column;
}

.thread .respondform  {
    //width: calc(100% - 14rem);
    //background: $grijs;
    //padding: 1rem;
    min-height: 110px;
    align-self: flex-end;
    margin-bottom: 3rem;
}


#respondform {
    display: block;
}