#social-buttons-wrapper {

  h3 {
    font-size: 1.33rem;
    line-height: 1.33;
    padding: 0;
  }

}



.social-buttons {


  ul {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;

    li {
      background: $purple;
      border-radius: 100%;
      @include center();
      height: 3rem;
      width: 3rem;
      margin-right: .75rem;

      &:last-of-type {
        margin-right: 0;
      }

      svg {
        fill: white;
      }
    }
  }
}