
.tweet_container {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	padding: 0 0 1.5rem 0;
//	border-bottom: 1px solid $grijs;
	//background: #fff;

}

.tweet_container_upper {

	position: relative;
	padding-left: 3.5rem;

	img { 
		position: absolute; 
		top: 0rem; 
		left: 0rem; 
		opacity: 1; 
		width: 3rem; 
		height: 3rem; 
		margin: 0;
		border-radius: 50%;
	}
}

.tweet_container_body {

	margin-top: 1rem;
	width: 100%;
	@include compactText();
	overflow: hidden;
}

.tweet_author {
	@include boldFont();
}
	
	
