.vacature_parameters {

  list-style-type: none;
  display: flex;
  flex-direction: column;

  li {

    position: relative;
    line-height: 1.55;
    padding: 0.25rem 0 0.25rem 2.5rem;

    @include boldFont();
    //font-size: 1.125rem;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      height: auto;
      width: 1.5rem;
      fill: $magenta;
    }

    &:nth-of-type(1) svg{
      top: 0.3rem;

      @media all and (-ms-high-contrast:none) {
        height: 1.5rem;
      }
    }

    &:nth-of-type(2) svg{
      top: 0.3rem;
      left: .1rem;

      @media all and (-ms-high-contrast:none) {
        height: 1.5rem;
      }
    }

    &:nth-of-type(3) svg{

      width: 1.4rem;
      left: .2rem;

      @media all and (-ms-high-contrast:none) {
        height: 2rem;
      }
    }

  }
}

.block.vacature {

  .vacature_parameters {
    margin-bottom: 1.5rem;
  }
}

// for single page

body.vacature article {


  .vacature_parameters {

    li {

      position: relative;
      line-height: 2.2rem;
      padding: 0.5rem 0 .5rem 4rem;
      //border-radius: 6px;
      background: $lichtgrijs;
      margin-bottom: 1rem;

      svg {
        left: 1rem;
        width: 2rem;
      }

      &:nth-of-type(1) svg {
        top: 0.8rem;
      }

      &:nth-of-type(2) svg {
        top: 0.8rem;
        left: 1.1rem;
      }

      &:nth-of-type(3) svg {
        top: 0.3rem;
        width: 1.8rem;
        left: 1.25rem;
      }

    }

  }


}