/*alle sections padding bottom, behalve de tussenkoppen*/

.werkenbij {

	$container: 48rem;
	$container-large: 80rem;

	#sections, #secties {

		flex-direction: column;
		align-items: center;
		background: #fff;
	}

	.section {

		display: flex;
		grid-column: 3 / span 4;
		position: relative;
		z-index: 9;

		.text {

			margin: 0 1rem;
			@include bullets();

			@media (min-width: $breakpoint-sm) {
				margin: 0 auto;
			}

		}
	}

	.section.large-container {

		grid-column: 2 / span 6;
	}

	.section.paragraph {

		padding: 0 0 1.5em 0; /*heeft ook nog 1.5em van het p'tje*/

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	.section:last-of-type {

		@media (min-width: $breakpoint-lg) {

			margin-bottom: 4.5rem;
		}
	}

	.section:last-of-type.foto_links, .section:last-of-type.foto_rechts {

		padding-bottom: 2rem;
	}

	.section:last-of-type.grote_foto {

		padding-bottom: 0;

	}

	.section.chapter {

		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;

		h2 {
			//		font-size: 2rem;
			//		line-height: 1.45;
			//		font-family:'Cabrito Sans W01 Norm Bold'; /*'Cabrito Semi W01 Norm Demi'; */
			///*		color: $donkerblauw;*/
			//		margin: 0 0 .5em 0;
		}
	}

	.section.streamer {

		margin: 4rem 0 2rem;
		grid-column: 2 / span 3;

		h2 {
			//font-size: 2rem;
			//line-height: 1.45;
			//font-family:'Cabrito Sans W01 Norm Bold'; /*'Cabrito Semi W01 Norm Demi'; */
			/*		color: $donkerblauw;*/
			margin: 0 0 .5em 0;
			max-width: 66%;
			color: $purple;
		}
	}

	.section.images {

		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: $breakpoint-sm) {
			flex-direction: row;
		}

		&.large-container {

			grid-column: 3 / span 4;
		}

		.caption {

			position: relative;
			background: $lichtgrijs;
			margin: 0;
			padding: 1rem 1rem 3rem 1rem;
			//padding-bottom: 4rem;
			height: calc(100% - 6rem);

			@media (min-width: $breakpoint-md) {
				padding: 2rem;
				padding-bottom: 4rem;
			}

			.light {
				margin-top: .4rem;
				position: absolute;
				bottom: 1rem;

				@media (min-width: $breakpoint-md) {
					bottom: 2rem;
				}
			}
		}

		&.transparent.center {

			.caption {
				background: transparent;
				margin: 0;
				padding: 2rem 0 0 0;
			}
		}

		&.transparent.right {

			.caption {
				background: transparent;
				margin: 0;
				padding: 1rem;

				@media (min-width: $breakpoint-sm) {
					padding: 0 2rem 0 0;
				}
			}
		}

		&.transparent.left {

			.caption {
				background: transparent;
				margin: 0;
				padding: 1rem 0;

				@media (min-width: $breakpoint-sm) {

					padding: 0 0 0 0rem;
				}
			}
		}

		&.single {
			//background: $lichtgrijs;
		}

		&.single.left {

			@media (min-width: $breakpoint-sm) {

				justify-content: space-between;

				> div {

					width: calc(50% - 1rem);
				}
			}

		}

		&.single.right {

			flex-direction: column;

			@media (min-width: $breakpoint-sm) {
				flex-direction: row-reverse;
				justify-content: space-between;

				> div {

					width: calc(50% - 1rem);
				}
			}

		}

		&.single.center {

			flex-wrap: wrap;

			.images-image {
				width: 100%;
			}

			.images-caption {
				width: 100%;

				padding-bottom: 2rem;
			}
		}

		&.duo.center, &.duo.left, &.duo.right {

			flex-wrap: wrap;
			justify-content: space-between;

			> div {

				@media (min-width: $breakpoint-sm) {
					width: calc(50% - 1rem);
				}

				&:first-of-type {

					@media (max-width: $breakpoint-sm) {
						margin-bottom: 1rem;
					}
				}
			}

			.images-caption {
				order: 4;
				align-self: flex-start;
			}
			.images-caption:first-of-type {
				order: 3;

			}
			.images-image {
				order: 2;
				align-self: flex-end;
			}
			.images-image:first-of-type {
				order: 1;
			}

			&.transparent {

				.images-caption .caption {
					padding-top: 2rem;
					padding-left: 0;
				}
			}
		}

		&.small-container.transparent.left, &.small-container.transparent.right, &.small-container.transparent.center {

			@media (max-width: $breakpoint-md) {
				width: calc(100% - 4rem);
			}

			@media (max-width: $breakpoint-sm) {
				width: calc(100% - 2rem);

				.caption {
					padding: 1rem 0;
				}
			}
		}

		&.large-container.transparent.left, &.large-container.transparent.right, &.large-container.transparent.center {

			@media (max-width: $breakpoint-md) {
				width: calc(100% - 4rem);
			}

			@media (max-width: $breakpoint-sm) {

				width: calc(100% - 2rem);

				.caption {
					padding: 1rem 0;
				}
			}
		}
	}

	.section.image-large {

		display: flex;
		flex-direction: column;
		padding: 0 0 3em 0;
		width: 100%;

		.bijschrift {
		}

		.caption {
			display: block;
			margin: 1em 2em;
			font-size: .9em;
		}
	}

	.section.quote {

		grid-column: 2 / span 4;
		margin: 2rem auto 3rem auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.quote_text {

			/* @extend .uni-sans; */
			font-size: 28px;
			line-height: 42px;
			margin-bottom: 1.5rem;
			text-align: left;
			color: $purple;
			font-family: Avenir LT W01_85 Heavy1475544, arial, sans-serif;
		}

		.quote_author {

			display: flex;
			flex-direction: column;
			text-align: center;
			margin-right: 2rem;

			> .author_thumbnail {

				width: 5rem;
				height: 5rem;
				border-radius: 100%;
				overflow: hidden;
				margin-bottom: 1rem;
			}

		}
	}

	.section.documents {

		grid-column: 1 / 7;
		margin: 3rem auto 0 auto;
		background: $lichtgrijs;
		width: 100%;

		@include four-grid();

		.container {

			grid-column: 3/5;
			grid-row: 1;

			@media (min-width: $breakpoint-md) {
				padding: 2rem 0 3rem 0;
			}

			h2 {
				//font-size: 1.1875rem;
				//line-height: 1.85em;
				//padding: 1rem 0;
			}

			ul {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				a {
					width: calc(100% - 2rem);
					border: none !important;
					margin: .75rem 0;

					@media (min-width: $breakpoint-md) {
						width: calc(50% - 1rem);
						margin: 1rem 0;
					}
				}

				a:hover .small-block-header .shape svg {
					fill: $magenta;
				}

				h3 {
					@include bodyText();
					line-height: 1.6;
				}

				&.list {
					flex-direction: column;
				}
			}

			.small-block-header {

				padding-left: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;

				.shape {
					width: 3rem;
					align-self: center;

					svg {
						width: 2rem;
						height: auto;
						fill: #000;
					}

				}

				.text-block {

					width: calc(100% - 3rem);

					h3 {
						margin-top: .25rem;
						line-height: 1.4;
					}
				}
			}
		}
	}

	.section.datavisplanning {

		min-height: 200px;
		grid-column: 2 / 6;
		margin: 2rem 0 3rem 0;

		> div {
			width: 100%;
		}

	}

	.section.video {

		grid-column: 1 / 7;
		overflow: hidden;
		margin: 3rem auto;
		background: $lichtgrijs;
		width: 100%;

		//width: 100%;

		@media (min-width: $breakpoint-sm) { // max 900
			flex-direction: column;
			align-items: center;
			margin: 3rem auto;
		}

		.wrapper-wrapper {
			width: $container;
			position: relative;

		}

		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			cursor: pointer;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.still-image {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 1;

			transition: opacity 250ms ease;
		}

		.still-image.play-state {
			display: none;
		}

		.play-knop {
			width: 6rem;
			height: 6rem;
			position: absolute;
			left: calc(50% - 3rem);
			top: calc(50% - 3rem);

			svg {
				fill: $magenta;
				transform: scale(1.4);
				position: absolute;
				height: 66px;
				width: 66px;
				left: calc(50% - 33px + .45rem);
				top: calc(50% - 33px);
			}
		}
	}

	.section.form {

		grid-column: 1 / 7;

		margin: 3rem auto;
		padding: 3rem 0;
		background: $lichtgrijs;
		width: 100%;

		@include four-grid();

		> div {
			grid-column: 3 / 5;
		}

		form {

			display: flex;
			flex-wrap: wrap;
			margin: 0rem auto 3rem auto;

			.message {
				display: block;
				margin: 1rem 0;
				width: 100%;

			}
		}

	}

	.section.paragraph + .section.images {

		margin-top: 1.5rem;
	}

	.section.images:first-of-type {
		padding: 0;
	}

	.section.images + .section.images {

		padding: 1rem 0 0 0;
		margin: 0;

		@media (min-width: $breakpoint-md) {
			padding: 2rem 0 0 0;
		}
	}

	.section.images + .section.paragraph {
		margin-top: 1rem;

		@media (min-width: $breakpoint-sm) {
			margin-top: 3rem;
		}
	}
	.section.form:last-of-type, .section.documents:last-of-type {
		padding-bottom: 0;
	}

	.section.form + .section.paragraph {
		padding-top: 3rem;
	}

	.section.documents + .section.paragraph {
		padding-top: 3rem;
	}

	.section.documents + .section.images {
		margin-top: 0;
		//	padding-top: 3rem;
	}

	.section.images + .section.chapter {
		margin-top: 3rem;
	}

	.section.images + .section.documents {
		margin-top: 3rem;
	}

}