.wijnemenjemee main.home_grid


aside {

  background: #e8e8e8;
  position: relative;
  grid-column: 6 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-row: 7 / span 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  padding: 5rem 1rem 4rem 1rem;
  height: 70vh;

  @media (min-width: $breakpoint-bax) {

    height: 80vh;
  }

  @media all and (-ms-high-contrast:none) {
    margin: 1rem 0 1rem 1rem;
  }

  ul#dashboard-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1rem;

    @media all and (-ms-high-contrast:none) {
      width : calc(12rem + 6px);
    }

    li {
      flex: 1;
      font-size: .65rem;
      text-transform: uppercase;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: flex-start;
      width: 4rem;
      height: 4rem;
      border: 1px solid white;
      border-bottom: none;
      background: $lichtgrijs;

      @media (min-width : $breakpoint-sm) {
        //flex: none;
        //font-size: .6rem;
        //padding: 0 .5rem;
      }

      span {


      }

      svg {
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50% - 12.5px);
      }


      &.active {

        background: white;

        svg {
          fill: $purple;
        }
      }

      &:hover {

        svg {
          fill: $purple;
        }
      }
    }
  }


  .aside_wrapper {

    position: relative;
    height: calc(100% - 1.5rem);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: white;
    padding: 0 1rem;
    transition: height 200ms ease-in;

    > a {

      border: none;
      display: block;

      &:first-of-type {
        margin-top: 1.5rem;
      }

      &:hover {
        color: black;
      }
    }

    &.youtube, &.instagram {

      height: 0;
    }
  }

  a.more-link {

    padding-left: 2rem;
    margin: 2rem 0 0 0;

    svg {
      height: 1rem;
      top: 0;
    }

    &.youtube, &.instagram {

      display: none;
    }
  }
}