.wijnemenjemee .section.video {

  grid-column: 1 / span 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  overflow: hidden;
  margin: 2rem auto;
  background: $lichtgrijs;
  width: 100%;

  @media (min-width: $breakpoint-sm) { // max 900
    flex-direction: column;
    align-items: center;
  }

  .wrapper-wrapper {
    width: 42rem;
    position: relative;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    cursor: pointer;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .still-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;

    transition: opacity 250ms ease;
  }

  .still-image.play-state {
    display: none;
  }

  .play-knop {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: calc(50% - 3rem);
    top: calc(50% - 3rem);

    svg {
      fill: $purple;
      transform: scale(1.4);
      position: absolute;
      height: 66px;
      width: 66px;
      left: calc(50% - 33px + .45rem);
      top: calc(50% - 33px);
    }
  }
}