.wijnemenjemee .section.documents {

  $container: 54rem;
  $container-large: 80rem;

  grid-column: 1 / span 10;
  //margin: 3rem auto 0 auto;
  background: $lichtgrijs;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container {

    padding: 1rem;

    @media (min-width: $breakpoint-sm) {
      padding: 2rem;
    }

    @media (min-width: $breakpoint-md) {
      padding: 3rem 0 3rem 0;
      width: $container;
    }

    h2 {
    }

    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        width: calc(100% - 2rem);
        border: none !important;
        margin: .75rem 0;

        @media (min-width: $breakpoint-md) {
          width: calc(50% - 1rem);
          margin: 1rem 0;
        }
      }

      a:hover .small-block-header .shape svg {
        fill: $purple;
      }


      &.list {
        flex-direction: column;
      }
    }

    .small-block-header {

      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .shape {
        width: 3rem;

        svg {
          width: 2rem;
          height: auto;
          fill: #000;
        }

      }

      .text-block {

        width: calc(100% - 3rem);

        h3 {
          @include boldFont();
          font-size: 1.125rem;
          line-height: 1.33;
        }
      }
    }

    &.list {

      @media (min-width: $breakpoint-md) {
        padding: 2rem 0 3rem 0;
        width: 42rem;

        ul a {
            width: calc(100% - 2rem);
          }
      }
    }
  }
}
