main #home-nav {

  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1rem;
  margin: 0;
  overflow: visible;

  grid-column: 2 / span 6;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  -ms-grid-row: 2;

  @media all and (-ms-high-contrast:none) {
    margin: 1rem;
  }

  @supports (display:-ms-grid) {
    margin: 1rem;
  }

  @media (min-width : $breakpoint-md) {
    display: flex;
  }
  @media (min-width : $breakpoint-lg) {
    height: 0;
  }

  @media (min-width : $breakpoint-xl) {
    height: 1rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    //line-height: 3rem;

    @media all and (-ms-high-contrast:none) {
      margin-top: 1rem;
    }

    @supports (display:-ms-grid) {
      margin-top: 1rem;
    }

    li {

      position: relative;
      display: flex;
      flex-direction: row;

      a {

        font-family: Avenir LT W01_85 Heavy1475544,arial,sans-serif;
        line-height: 1;

        border: none;
        cursor: pointer;
        //padding: 0 2rem 0 0;

        border-radius: 120px;
        padding: .5rem 1rem;

        font-size: 1rem;
        transition: all 250ms ease-in-out;


        @media (min-width: $breakpoint-bax) {
          font-size: 1.125rem;
        }

        @media all and (-ms-high-contrast:none) {
          font-size: 1rem;
          padding: .5rem;
        }

        @supports (display:-ms-grid) {
          font-size: 1rem;
          padding: .5rem;
        }

        &:hover {

          border:none;
          color: $purple;
          background: #eee;

          svg {
            fill: $purple;
          }
        }

        svg {

          height: .5rem;
          width: .5rem;
          transform: rotate(90deg);
          fill: black;
        }
      }

      &:first-of-type {

        //margin-right: auto;

        a {

          //color: $purple;
          //font-size: 2rem;
        }
      }

      &:last-of-type a {
        //padding-right: 0;
      }

      input {


        border: none;
        //border-bottom: 1px solid $donkergrijs;
        //border-bottom: 2px solid $middelgrijs;
        border-radius: 0;
        -webkit-appearance: none;
        font-size: 1rem;
        width: calc(100% - 1rem);
        height: 2rem;
        line-height: 2rem;
        background: #ebebeb;
        border-radius: 20px;
        padding: 0 1rem;
        font-style: italic;

        width: 120px;

        @media (min-width: $breakpoint-bax) {
          width: 140px;
        }

        @media (min-width: $breakpoint-lg) {
          width: 160px;
        }

        &:focus {
          outline: none;
        }
      }

      button {

        position: absolute;
        padding: 0;
        right: 0rem;
        height: 2rem;
        width: 2rem;
        overflow: visible;
        cursor: pointer;
        background: transparent;

        > svg {
          position: relative;
          display: block;
          //margin-top: 9px;
          width: auto;
          height: 1.25rem;
          //margin-left: -9px;
        }
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $zwart;
        opacity: 1; /* Firefox */
        text-transform: lowercase;
      }

      :focus::placeholder {
        opacity: 0;
      }
    }
  }

}