.wijnemenjemee {

  footer {

    position: relative;
    height: 48rem;
    margin: 2rem 0 2rem 0;
    @include three-grid();
    width: 100%;
    flex-direction: column;
    display: block;

    @media (min-width: $breakpoint-sm) {
      height: 20rem;
    }

    @media (min-width: $breakpoint-md) {
      margin: 2rem 0 4rem 0;
      display: grid;
    }

    svg {

      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }

    > div {

      grid-column: 2;
      -ms-grid-column: 2;
      grid-row: 1;
      -ms-grid-row: 1;
      position: relative;
      font-size: 1.125rem;
      line-height: 1.44;
      color: white;

      padding: 2rem;

      @media (min-width: $breakpoint-sm) {
        padding: 2rem 0;
      }

      &:nth-of-type(2) {
        grid-column: 3;
        -ms-grid-column: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
          color: white;
          display: inline;
          border: none;
          line-height: 1.5;

          &#colofon {
            margin-top: 0;
            margin-bottom: 2.75rem;
            z-index: 99;
          }
        }

      }

      &:nth-of-type(3) {
        grid-column: 4;
        -ms-grid-column: 4;
        padding: 0;
        display: flex;
        align-items: center;

        > svg, img {

          width: calc(80% + 1.5rem);
          margin-left: 1rem;

          @media (min-width: $breakpoint-sm) {
            margin-left: -.6rem;
          }

        }
      }

      &:nth-of-type(4) {
        padding: 0;
        grid-row: 1;
        -ms-grid-row: 1;
        grid-column: 2 / span 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        align-self: flex-end;

        @media (max-width: $breakpoint-sm) {
          padding: 2rem 0;
        }

        @media all and (-ms-high-contrast: none) {
          margin-top: 13rem;
        }

        ul {
          display: flex;
          flex-direction: row;
          margin-bottom: 4rem;
          justify-content: center;

          @media (min-width: $breakpoint-sm) {
            justify-content: flex-start;
          }

          li {
            position: relative;
            width: 3rem;
            height: 3rem;
            background: white;
            border-radius: 50%;
            margin-right: 2rem;

            @media (min-width: $breakpoint-lg) {
              margin-right: 3rem;
            }

            a {
              border: none;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            svg {

              position: relative;
              z-index: 1;
              height: 100%;
              width: auto;

              fill: $purple;
            }

            &:last-of-type {

              svg {
                height: 55%;
              }
            }
          }
        }
      }
    }
  }

}