.featured_theme {

  position: relative;
  border: none;
  display: none;
  margin: 0rem auto 2rem auto;

  @media (min-width: $breakpoint-sm) {
    display: block;
    grid-column: 1 / span 4;
    grid-row: 7;
  }

  @media (min-width: $breakpoint-md) {

    grid-column: 1 / span 8;
    grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    -ms-grid-row: 6;
  }


  @media (min-width: $breakpoint-bax) {

    margin: 0 auto 0 auto;
  }

  @media (min-width: $breakpoint-lg) {
    margin: 2rem auto 0 auto;
  }

  > div {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
    width: 100vw;
    overflow: hidden;

    //@media (min-width: $breakpoint-sm) {
    //  width: auto;
    //}

    @media all and (-ms-high-contrast:none) {
      margin: 3rem 0 0 0;
    }

    @supports (display:-ms-grid) {
      margin: 3rem 0 0 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    .gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(150deg,transparent,rgba(0,0,0,.3) 75%,#000);
    }
  }



}

.featured_theme_h2, .featured_theme_h3 {

  position: relative;
  border: none;

  @media (min-width: $breakpoint-sm) {

    grid-column: 2 / 2;
    grid-row: 7;
  }


  @media (min-width: $breakpoint-md) {

    margin-top: 3rem;
    grid-column: 2 / span 4;
    grid-row: 6;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    -ms-grid-row: 6;
  }

  h2, h3 {

    position: absolute;
    bottom: 5rem;
    left: 2rem;

    margin: 0 0 .25rem 0;
    padding: 0 0 0 2rem;

    font-size: 1.25rem;
    line-height: 1.8;

    grid-column: 2 / span 4;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    -ms-grid-row: 1;

    @media (min-width: $breakpoint-sm) {
      position: relative;
      bottom: auto;
      left: auto;

    }

    @media (min-width: $breakpoint-bax) {
      font-size: 1.66rem;
      line-height: 1.25;
    }

  }

  h2 {

    color: white;

    @media (min-width: $breakpoint-sm) {
      color: $purple;
    }

    //@media (min-width: $breakpoint-md) {
    //  margin-top: 3rem;
    //}

    svg {

      position: absolute;
      top: .66rem;
      left: 0rem;
      height: .8rem;
      width: auto;
      transform: rotate(90deg);

      fill: white;


      @media (min-width: $breakpoint-sm) {
        fill: $purple;
      }

      @media all and (-ms-high-contrast:none) {
        width: 1.6rem;
      }

      @supports (display:-ms-grid) {
        width: 1.6rem;
      }
    }
  }

  h3 {

    position: absolute;
    top: auto;
    bottom: 3rem;
    left: 2rem;
    color: white;

    padding: 0;
    font-size: 1.25rem;
    line-height: 1.8;

    @media (min-width: $breakpoint-bax) {
      font-size: 1.66rem;
      line-height: 1.25;
      left: 0;
      bottom: 1;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 2.4rem;
    }


  }

  &:hover {
    border: none;
  }
}


