.wijnemenjemee .section.images {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;

  }


  .caption {

    position: relative;
    margin: 0;
    padding: 1rem 1rem 3rem 1rem;
    height: calc(100% - 6rem);

    @media (min-width: $breakpoint-md) {
      padding: 2rem;
    }

    .credits {
      font-style: italic;
    }

    p:last-of-type {
      display: inline;
    }
  }

  &.grey {
     background: $lichtgrijs;
   }

  &.small-container {

    grid-column: 4 /span 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;

    &.left {

      grid-column: 1 / span 10;
      -ms-grid-column: 1;
      -ms-grid-column-span: 10;

      @media (min-width: $breakpoint-md) {
        grid-column: 3 / span 6;
        -ms-grid-column: 3;
        -ms-grid-column-span: 6;
      }
    }

    &.right {

      grid-column: 1 / span 10;
      -ms-grid-column: 1;
      -ms-grid-column-span: 10;

      @media (min-width: $breakpoint-md) {
        grid-column: 3 / span 6;
        -ms-grid-column: 3;
        -ms-grid-column-span: 6;
      }
    }
  }

  &.large-container {

    grid-column: 3 / span 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;


    &.left {

      grid-column: 1 / span 10;
      -ms-grid-column: 1;
      -ms-grid-column-span: 10;

      @media (min-width: $breakpoint-md) {
        grid-column: 2 / span 7;
        -ms-grid-column: 2;
        -ms-grid-column-span: 7;

      }
    }

    &.right {

      grid-column: 1 / span 10;
      -ms-grid-column: 1;
      -ms-grid-column-span: 10;

      @media (min-width: $breakpoint-md) {
        grid-column: 3 / span 7;
        -ms-grid-column: 3;
        -ms-grid-column-span: 7;
      }
    }
  }



  &.transparent.center {

    .caption {
      margin: 0;
      padding: 2rem 0 0 0;
    }
  }

  &.transparent.right {

    .caption {
      background: transparent;
      margin: 0;
      padding: 1rem;

      @media (min-width: $breakpoint-sm) {
        padding: 0 2rem 0 2rem;
      }

      @media (min-width: $breakpoint-md) {
        padding: 0 2rem 0 0;
      }
    }
  }

  &.transparent.left {

    .caption {
      background: transparent;
      margin: 0;
      padding: 1rem;

      @media (min-width: $breakpoint-sm) {
        padding: 0 2rem 0 2rem;
      }
      @media (min-width: $breakpoint-md) {
        padding: 0 0 0 2rem;
      }
    }
  }

  &.single {
    //background: $lichtgrijs;
  }

  &.single.left, &.single.right {

    @media (min-width: $breakpoint-sm) {

      justify-content: space-between;

      > div.images-image {

        width: 50%;
      }

      > div.images-caption {

        width: 50%;
      }
    }

    margin: 2rem 0;


    &.large-container {

      > div.images-image {

        @media (min-width: $breakpoint-sm) {
          width: 50%;
        }

        @media (min-width: $breakpoint-md) {
          width: 56.25%;
        }

        @media (min-width: $breakpoint-bax) {
          width: 57%;
        }
      }

      > div.images-caption {

        @media (min-width: $breakpoint-sm) {
          width: 50%;
        }

        @media (min-width: $breakpoint-md) {
          width: 43%;
        }
      }

    }

  }

  &.single.right {

    flex-direction: column;

    @media (min-width: $breakpoint-sm) {
      flex-direction: row-reverse;
    }
  }

  &.single.center {

    flex-wrap: wrap;

    @media (min-width: $breakpoint-sm) {
      margin: 2rem 0 0 0;
    }

    .images-image {
      width: 100%;
    }

    .images-caption {
      width: 100%;

      @media (max-width: $breakpoint-sm) {
        padding: 0 1rem;
      }
    }

    &.small-container {

      .images-caption {
        font-style: italic;
      }
    }

    &.grey {

      @media (min-width: $breakpoint-sm) {
        margin: 2rem 0 2rem 0;
      }
    }
  }

  &.duo.center, &.duo.left, &.duo.right {

    flex-wrap: wrap;
    justify-content: space-between;


    // !MAX
    @media (max-width: $breakpoint-md) {
      grid-column: 2 / span 8;
      -ms-grid-column: 2;
      -ms-grid-column-span: 8;
    }

    @media (min-width: $breakpoint-sm) {
      margin: 2rem 0 1rem 0;
    }
    @media (min-width: $breakpoint-lg) {
      margin: 3rem 0 0rem 0;
    }

    > div {

      width: 100%;

      @media (min-width: $breakpoint-sm) {
        width: calc(50% - .5rem);
      }

      @media (min-width: $breakpoint-bax) {
        width: calc(50% - 1rem);
      }
    }

    .images-caption {

      align-self: flex-start;
      padding: 0 1rem 1rem 1rem;

      @media (max-width: $breakpoint-sm) {
          width: calc(100% - 2rem);
      }

      @media (min-width: $breakpoint-sm) {
        padding : 0;
        order: 4;
      }

      @media (min-width: $breakpoint-md) {
        padding : 1rem 0 0 0;
      }
    }
    .images-caption:first-of-type {

      @media (min-width: $breakpoint-sm) {
        order: 3;
      }
    }

    .images-image {
      align-self: flex-end;

      @media (min-width: $breakpoint-sm) {
        order: 2;
      }
    }
    .images-image:first-of-type {

      @media (min-width: $breakpoint-sm) {
        order: 1;
      }
    }

    &.transparent {

      .images-caption .caption {
        padding-top: 1rem;
        padding-left: 0;
        font-style: italic;
      }
    }
  }

  &.trio.center, &.trio.left, &.trio.right {

    flex-wrap: wrap;
    justify-content: space-between;
    grid-column: 3 /span 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;

    @media (max-width: $breakpoint-md) {
      grid-column: 2 / span 8;
      -ms-grid-column: 2;
      -ms-grid-column-span: 8;
    }

    @media (min-width: $breakpoint-sm) {
      margin: 2rem 0 1rem 0;
    }
    @media (min-width: $breakpoint-lg) {
      margin: 3rem 0 0rem 0;
    }

    > div {

      width: 100%;

      @media (min-width: $breakpoint-sm) {
        width: calc(33% - .66rem);
      }

      @media (min-width: $breakpoint-bax) {
        width: calc(33% - 1rem);
      }

      @media (min-width: $breakpoint-lg) {
        width: calc(33% - 1.5rem);
      }

      &:first-of-type {

        @media (max-width: $breakpoint-sm) {
          margin-bottom: 1rem;
        }
      }
    }

    .images-caption {
      align-self: flex-start;
      padding: 0 1rem 1rem 1rem;

      @media (max-width: $breakpoint-sm) {
        width: calc(100% - 2rem);
      }

      @media (min-width: $breakpoint-sm) {
        padding : 1rem 0 0 0;
        order: 4;
      }

    }
    .images-caption:first-of-type {
      @media (min-width: $breakpoint-sm) {
        order: 3;
      }

    }
    .images-image {

      align-self: flex-end;


      @media (min-width: $breakpoint-sm) {
        order: 2;
      }
    }
    .images-image:first-of-type {

      @media (min-width: $breakpoint-sm) {
        order: 1;
      }
    }

    &.transparent {

      .images-caption .caption {
        padding-top: 1rem;
        padding-left: 0;
        font-style: italic;
      }
    }
  }

  &.small-container.transparent.left, &.small-container.transparent.right, &.small-container.transparent.center {

    @media (max-width: $breakpoint-md) {
      width: calc(100% - 4rem);
    }

    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  &.large-container.transparent.left, &.large-container.transparent.right, &.large-container.transparent.center {

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }

    @media (max-width: $breakpoint-sm) {

      width: 100%;
    }
  }
}