/*alle sections padding bottom, behalve de tussenkoppen*/


.wijnemenjemee {

	$container: 54rem;
	$container-large: 80rem;

	#sections, #secties {

		flex-direction: column;
		align-items: center;
		background: #fff;
	}

	.section {

		display: flex;
		grid-column: 4 / span 4;
		-ms-grid-column: 4;
		-ms-grid-column-span: 4;
		position: relative;
		z-index: 9;

		@media all and (-ms-high-contrast:none) {
			margin-bottom: 2rem;
		}


		@for $s from 0 through 24 {
			&:nth-of-type(#{$s}):not(:empty) {
				-ms-grid-row: #{$s + 4};
			}
		}

		.text {

			margin: 0 1rem;
			@include bullets();

			@media (min-width: $breakpoint-sm) {
				margin: 0 auto;
			}
		}
	}

	.section.paragraph {

		p:last-of-type {
			margin-bottom: 0;
		}

		h2 {
			color: $purple;
		}
	}

	.section.streamer {

		margin: 1rem 0 1rem;
		grid-column: 2 / span 4;
		-ms-grid-column: 2;
		-ms-grid-column-span: 4;

		h2 {
			margin: 0 0 0 0;
			color: $purple;
			padding: 0 1rem;
			font-size: 1.66rem;
			line-height: 1.33;

			@media (min-width : $breakpoint-sm) {
				padding: 0;
			}
		}

		&.right {

			grid-column: 6 / span 4;
			-ms-grid-column: 6;
			-ms-grid-column-span: 4;
			text-align: right;
		}

		&.center {

			grid-column: 4 / span 4;
			-ms-grid-column: 4;
			-ms-grid-column-span: 4;
			text-align: center;
		}
	}

	.section.datavisplanning {

		min-height: 200px;
		grid-column: 2 / 6;
		-ms-grid-column: 2;
		-ms-grid-column-span: 6;
		margin: 2rem 0 3rem 0;

		> div {
			width: 100%;
		}
	}

	.section.form {

		grid-column: 1 / 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 7;

		margin: 3rem auto;
		padding: 3rem 0;
		background: $lichtgrijs;
		width: 100%;

		@include four-grid();

		> div {
			grid-column: 3 / 5;
			-ms-grid-column: 3;
			-ms-grid-column-span: 5;
		}

		form {

			display: flex;
			flex-wrap: wrap;
			margin: 0rem auto 3rem auto;

			.message {
				display: block;
				margin: 1rem 0;
				width: 100%;
			}
		}
	}


	.section.images.grey + .section.images.grey {
		margin-top: -2rem;
	}

	.section.paragraph + .section.images.grey + .section.images.grey {
		margin-top: -1rem;

		@media (min-width: $breakpoint-lg) {
			margin-top: -2rem;
		}
	}


	.section.images.grey + .section.images.grey + .section.paragraph {
		margin-top: 2rem;
	}

	.section.images.grey + .section.images.grey {
		margin-top: -2rem;
	}

	.section.form:last-of-type, .section.documents:last-of-type {
		margin-bottom: calc(-2rem + 1px);
	}

	.section.paragraph + .section.documents, .section.documents + .section.paragraph {
		margin-top: 2rem;
	}
}