.item.youtube {


  display: block;
  margin-bottom: 1.5rem;
  border: none;



  h4 { position: relative;

    span { @include boldFont(); margin: 0; }
  }

  .yt_image_container {

    position: relative;
    margin: 0px 0px 1rem 0px;

    > img {

      width: 100%;
      height: auto;
      margin: 0;
    }

    .play-button {

      display: none;
      position: absolute;
      z-index: 999;
      height: 2.5rem;
      width: 2.5rem;
      top: calc(50% - 1.25rem);
      left: calc(50% - 1.25rem);

      svg {
        fill: $magenta;
        height: 2.5rem;
        width: 2.5rem;
      }
    }


    &:hover .play-button {
      display: block;
    }

  }

  > span {
    display: block;
    margin-top: .25rem;
  }

//  .vimeo_image_container {  margin: 0; }
//
//  .yt_image_container:hover .play-knop img { left: -60px; }

  .videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0;

    iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  }

  //.exit-knop { position: absolute; top: 0; right: 0; width: 60px; height: 60px; overflow: hidden;
  //
  //  img { position: absolute; top: -540px; left: -180px; }
  //  img:hover { position: absolute; top: -540px; left: -60px; }
  //}
  //.camframe { margin: 30px 130px;}
  //
  //
  //span.viewcount {  margin: 5px 0; /*position: absolute; top: 0; right: 0; color: @rood;*/ }
  //span { display: block; margin: 0 0 20px 0; }

}